<a href="{{ item.link_url.url ? item.link_url.url : item.link }}" target="{{ item.link_url.target ? item.link_url.target : '_self' }}" title="Read more about {{ item.post_title }}" class="grid-item card-item {{ item.thumbnail ? 'card-item--has-image' }} w-12 w-md-3 card--{{ item.event_type == 'future' ? 'primary' : 'secondary' }}">

  {% if item.event_type == 'past' %}
    <span class="status status--darkest-grey">{{ __( 'Past Event' ) }}</span>
  {% endif %}

  {% if item.thumbnail %}
    <figure class="card-image w-12">
      <img src="{{ TimberImage( item.thumbnail ).src( 'card' ) }}" alt="{{ TimberImage( item.thumbnail ).post_title }}" />
    </figure>
  {% endif %}

  <div class="card-content w-12">
    <div class="post-meta post-meta--card">
      <time class="post-meta-date post-meta-item">{{ item.date }}</time>

      {% if item.location %}
        <span class="post-meta-separator post-meta-item"> | </span>
        <span class="post-meta-location post-meta-item">{{ item.location }}</span>
      {% endif %}
    </div><!-- .time-location -->

    <h3 class="h4 post-title post-title--card">{{ item.post_title }}</h3>

    <div class="post-excerpt">
      {{ item.post_excerpt }}
    </div><!-- .post-excerpt -->
  </div><!-- .card-content -->

  <div class="card-link btn btn--solid">
    Read More
  </div><!-- .card-link -->

</a><!-- .grid-item w-12 w-md-3 -->