{% extends "layouts/default.twig" %}

{% block content %}

  {% if post.content %}
    <section class="section section--editor">
      <div class="container">
        {{ post.content }}
      </div><!-- .container -->
    </section>
  {% endif %}

  {% include 'blocks/flex.twig' %}

{% endblock %}
