{% extends "layouts/default.twig" %}

{% block content %}
<div class="container content-wrapper">

  <h1 class="page-title">{{ post.title }}</h1>

  <div class="post-content">
    {{ post.content }}
  </div><!-- .post-content -->

</div><!-- .content-wrapper -->
{% endblock %}
