<div class="grid-item card-item w-12 w-md-6 w-lg-3 card card--{{ colour }} card--statement">
  <div class="card-content">

    <h3 class="post-title post-title--card">{{ content }}</h3>

  </div><!-- .card-content -->
</div><!-- .grid-item w-12 w-md-3 -->
