<div id="comment-{{ item.comment_ID }}" class="comment-item w-12 w-md-6 grid--flex grid-item">

  {% if item.comment_author %}
    <div class="comment-author-data w-3 w-md-3 w-lg-2 text-center">
      <div class="comment-image">
        <img src="{{ item.user_id | avatar }}" alt="{{ item.comment_author }}" />
      </div><!-- .comment-image -->

    </div><!-- .comment-author-data -->
  {% endif %}

  {% if item.post_type == 'success-story' %}
    <div class="comment-author-data w-3 w-md-2 text-center">
      <div class="comment-image">
        <img src="{{ TimberImage( item.thumbnail ).src }}" alt="{{ item.post_title }}" />
      </div><!-- .comment-image -->
    </div><!-- .comment-author-data -->
  {% endif %}

  <div class="comment-content-data w-9 {{ item.thumbnail or item.user_id | avatar  ? 'w-md-9 w-lg-10' : 'w-md-12' }}">
    <div class="comment-title-data">

      {% if item.review_title %}
        <h4 class="mt-0 mb-0 comment-title label">{{ item.review_title }}</h4>
      {% endif %}

      {% if item.post_title %}
        <h4 class="mt-0 mb-0 comment-title label">{{ item.post_title }}</h4>
      {% endif %}

      {% if item.rating %}
        <div class="comment-rating" data-rating="{{ item.rating }}">
          {% for i in 1..5 %}
            <span class="rating rating-bullet{{ item.rating >= i ? ' rating-active' }}"></span>
          {% endfor %}
        </div><!-- .comment-rating -->
      {% endif %}
    </div><!-- .comment-title -->

    <div class="comment-content">

      {% if item.comment_author %}
        <div class="comment-author profile-user-name">
          {{ item.comment_author }}
        </div><!-- .comment-author -->
      {% endif %}

      {% if item.comment_date %}
        <div class="comment-date">
          <small>{{ item.comment_date | date( 'F j, Y' ) }}</small>
        </div>
      {% endif %}

      {% if item.comment_content %}
        {{ item.comment_content }}
      {% endif %}

      {% if item.post_content %}
        <p>{{ item.post_content | striptags | truncate( 30 ) }}</p>
        <a href="{{ item.get_link }}" class="btn btn--small btn--outline">{{ __( 'Read More' ) }}</a>
      {% endif %}

      {% if item.object_type == 'comment' %}
        <div class="comment-actions js-comment-actions" data-comment_user_id="{{ item.comment_user_id }}" data-comment_id="{{ item.comment_ID }}" data-comment_post_id="{{ item.comment_post_ID }}">
          <a href="javascript:void(0)" class="link-underline" data-comment-action="edit">{{ __( 'Edit' ) }}</a>
          <a href="javascript:void(0)" class="link-underline" data-comment-action="delete" data-comment_id="{{ item.comment_ID }}">{{ __( 'Delete' ) }}</a>

          <form action="{{ post.get_link }}/#comment-{{ item.comment_ID }}" class="comment-edit js-edit-comment">
            <textarea rows="4">{{ item.comment_content }}</textarea>
            <div class="comment-edit-actions">
              <input type="submit" value="{{ __( 'Submit' ) }}" class="comment-edit-submit btn btn--solid">
              <button type="button" class="comment-edit-cancel btn btn--dark-grey btn--outline" data-comment="cancel">{{ __( 'Cancel' ) }}</button>
            </div><!-- .comment-edit-actions -->
          </form><!-- .comment-edit js-edit-comment -->

          {% include 'blocks/delete-popup.twig' with {
            namespace: 'comment',
            content: __( 'Are you sure you want to delete this review?' ),
          } %}
        </div><!-- .comment-actions -->
      {% endif %}
    </div><!-- .comment-content -->
  </div><!-- .comment-content-data -->

</div>
