<form action="{{ site.url }}/connect" method="get" class="js-connect-form connect-form connect-form--{{ class }}" data-focus-parent>
  <div class="connect-field-wrapper">
    <input type="text" name="location" id="connect_location" value="{{ site.data.request.location }}" class="connect-field" required />
    <label for="connect_location" class="connect-form-label connect-form-label--connect" placeholder="{{ __( 'Enter Your Location' ) }}" alt="{{ __( 'Enter Your Location' ) }}"><span class="connect-form-label--inner">{{ __( 'Enter Your Location' ) }}</span></label>
  </div>

  {% include 'blocks/components/filter-form.twig' with {
    label: __( 'Toggle By' ),
    class: 'map',
    wrap_form: false,
    input_name: 'type',
    options: {
      'event': __( 'Event' ),
      'maker': __( 'Maker' ),
      'request': __( 'Request' ),
    }
  } %}

  <div class="connect-submit-wrapper">
    <input type="hidden" name="north" class="js-connect-north" value="{{ site.data.request.north }}" />
    <input type="hidden" name="south" class="js-connect-south" value="{{ site.data.request.south }}" />
    <input type="hidden" name="east" class="js-connect-east" value="{{ site.data.request.east }}" />
    <input type="hidden" name="west" class="js-connect-west" value="{{ site.data.request.west }}" />
    <button type="submit" class="connect-submit js-connect-submit btn btn--solid" data-focus-parent="btn">
      <span class="connect-submit-inner">Search</span>
      <i class="icon-search" aria-hidden="true"></i>
    </button><!-- .postal-code-submit -->
  </div>
  <div class="error-message">
    {{ __( 'Please enter a location before submitting' ) }}
  </div><!-- .error-message -->
</form>
