<form action="{{ site.url }}/connect" method="get" class="js-connect-form connect-form connect-form--{{ class }}">
  <label for="connect_location" class="connect-form-label connect-form-label--home label--small">{{ __( 'Enter Your Location' ) }}</label>

  <div class="form-inner">
    <label for="connect_location" class="connect-form-label connect-form-label--connect label--small">{{ __( 'Enter Your Location' ) }}</label>
    <div class="error-message">
      {{ __( 'Please enter a location before submitting' ) }}
    </div><!-- .error-message -->
    <input type="text" name="location" class="js-google-maps-places" id="connect_location" value="{{ site.data.request.location }}" placeholder="Vancouver, BC" class="connect-field w-8" />
    <input type="hidden" name="lat" class="js-connect-lat" value="{{ site.data.request.lat }}" />
    <input type="hidden" name="lon" class="js-connect-lon" value="{{ site.data.request.lon }}" />
    <input type="hidden" name="type" class="js-connect-type" value="{{ site.data.request.type }}" />
    <button type="submit" class="connect-submit js-connect-submit btn btn--solid w-4 w-md-4" data-focus-parent="btn">
      <span class="connect-submit-inner">Search</span>
      <i class="icon-search" aria-hidden="true"></i>
    </button><!-- .postal-code-submit -->
  </div><!-- .form-inner -->
</form>
