<form action="{{ site.url }}/connect" method="get" class="js-connect-form connect-form connect-form--{{ class }}">
  <div class="form-inner">
    <div class="error-message">
      {{ __( 'Please enter a location before submitting' ) }}
    </div><!-- .error-message -->
    <div class="connect-field-wrapper w-12 w-md-8">
      <input type="text" name="location" id="connect_location" class="connect-field" value="" required />
      <label for="connect_location" class="connect-form-label connect-form-label--connect" placeholder="{{ __( 'Enter Your Location' ) }}" alt="{{ __( 'Enter Your Location' ) }}"><span class="connect-form-label--inner">{{ __( 'Enter Your Location' ) }}</span></label>
    </div>
    <div class="w-12 w-md-4">
      <input type="hidden" name="north" class="js-connect-north" />
      <input type="hidden" name="south" class="js-connect-south" />
      <input type="hidden" name="east" class="js-connect-east" />
      <input type="hidden" name="west" class="js-connect-west" />
      <button type="submit" class="connect-submit js-connect-submit btn btn--solid" data-focus-parent="btn">
        <span class="connect-submit-inner">Search</span>
        <i class="icon-search" aria-hidden="true"></i>
      </button><!-- .postal-code-submit -->
    </div>
  </div><!-- .form-inner -->
</form>
