{% if feature.post_type == 'event' %}
  {% set label = feature.post_title ~ '. ' ~ __( 'Event on' ) ~ ' ' ~ get_date_range( feature.date_start, feature.date_end ) ~ feature.post_excerpt ~ '. ' ~ __( 'Event at' ) ~ ' ' ~ feature.location %}
{% endif %}

{% if feature.post_type == 'post' %}
  {% set label = feature.post_title ~ __( '. Posted on' ) ~ ' ' ~ feature.post_date | date( 'F j, Y' ) ~ feature.post_excerpt %}
{% endif %}

<a href="{{ link.link }}"
  target="{{ link.target }}"
  title="Read more about {{ feature.post_title }}"
  class="section section--feature background-{{ background ? backrground : 'darkest-grey text-light' }} {{ text_colour ? 'text-' ~ text_colour }} grid grid--flex section--no-padding"
  aria-label="{{ label }}"
  >

  {% if alternate == true %}

    {% set image %}
      {{ macros.img_bg( feature.thumbnail, 'full', 'w-12 w-md-6 section-image grid-item' ) }}
    {% endset %}

    {% if key % 2 == 1 %}
      {{ image }}
    {% endif %}

  {% else %}

    {% set feature_data = {
      label: feature_label,
      background: 'darkest-grey',
    } %}

    {{ macros.img_feature( feature.thumbnail, 'feature_half', 'w-12 w-md-6 section-image', feature_data ) }}

  {% endif %}

  <div class="w-12 w-md-6 section-content container--padded">

    <div class="content-inner w-12">

      {% include 'blocks/components/post-meta.twig' with { item: feature } %}

      <h2 class="section-title section-title--no-dash">{{ feature.post_title }}</h2>

      {% if feature.subtitle %}
        <h3 class="section-subtitle">{{ feature.subtitle }}</h3>
      {% endif %}

      {{ feature.post_excerpt | wpautop }}

      <span class="btn btn--outline--small {{ btn_colour ? btn_colour }}">{{ __( 'Read More' ) }}</span>

    </div><!-- .content-inner -->

  </div><!-- .w-12 w-md-6 -->

  {% if alternate == true %}

    {% if key % 2 == 0 %}
      {{ image }}
    {% endif %}

  {% endif %}

</a><!-- .flex-box -->
