{% if options %}
  {% if wrap_form is null or wrap_form %}
    {% set tag = 'form' %}
  {% else %}
    {% set tag = 'div' %}
  {% endif %}

  {% if input_name is null %}
    {% set input_name = 'filter' %}
  {% endif %}

  <{{ tag }} {{ tag == 'form' ? 'action="' ~ archive_url ~ '"' }} class="form-filter w-12 w-sm-5 w-lg-12 form-filter--{{ class }}">
    <div class="form-filter-content dqpl-field-wrap" data-focus-parent="field">

      <label class="form-filter-label mb-0" id="label_{{ class }}" class="dqpl-label">{{ label }}</label>

      <div class="form-filter-select dqpl-select js-select-wrapper">
        <div class="dqpl-combobox" role="combobox" tabindex="0" aria-autocomplete="none" aria-owns="list_{{ class }}" aria-expanded="false" aria-labelledby="label_{{ class }}" aria-required="true">
          <div class="dqpl-pseudo-value js-select-value">
            {% spaceless %}
              {% if requests.type or requests.filter or requests.stage %}
                {% for key, option in options %}
                  {% if requests.type == key or requests.filter == key or requests.stage == key %}
                    {{ option }}
                  {% endif %}
                {% endfor %}
              {% else %}
                {{ __( 'Choose filter' ) }}
              {% endif %}
            {% endspaceless %}
          </div>
          <input type="hidden" name="{{ input_name }}" />
        </div>
        <ul id="list_{{ class }}"  aria-labelledby="label_{{ class }}" class="dqpl-listbox" role="listbox">
          {% for key, option in options %}
            {% if requests.type == key or requests.filter == key or requests.stage == key %}
              <li id="{{ key }}" class="dqpl-option dqpl-option-active" aria-selected="true" role="option">{{ option }}</li>
            {% else %}
              <li id="{{ key }}" class="dqpl-option" role="option">{{ option }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div><!-- .select-field -->
    </div><!-- .form-filter-content -->

    <div class="form-filter-submit" data-focus-parent="btn">
      <input type="submit" class="form-filter-submit" value="Go" />
    </div><!-- .form-filter-submit -->
  </{{ tag }}><!-- .form-filter -->
{% endif %}
