{% set attr = content.link.url ? 'href="' ~ content.link.url ~ '" target="' ~ content.link.target ~ '"' %}

<a {{ attr }} class="grid-item card-item w-12 w-md-6 w-lg-3 card--{{ colour }} card--cta {{ class }} {{ background ? 'background-' ~ background }}" aria-label="{{ content.title }}: {{ content.link.title }}" data-card-resize>
  <div class="card-content text-center" aria-hidden="true">
    <div class="card-content-inner">
      <h4 class="post-title post-title--card">{{ content.title }}</h4>

      {% if content.link.url %}
        <div class="btn btn--{{ colour }} btn--outline--small btn--large" >{{ content.link.title }}</div>
      {% endif %}
    </div><!-- .card-content--inner -->

  </div><!-- .card-content -->
</a><!-- .grid-item w-12 w-md-3 -->
