{% set label = status.label ~ ' ' ~ item.post_title ~ ' ' ~ item.post_excerpt %}

<div
   target="_self"
   title="Read more about {{ item.post_title }}"
   class="grid-item card-item w-12 {{ width ? width : 'w-md-6 w-lg-3' }} card--{{ colour }} {{ class }} card--{{ item.post_type | replace({ '_': '-'}) }} card--is-link"
   aria-label="{{ label }}"
   data-card-resize
   >

  <div class="card-inner">

    <a href="{{ item.link }}" title="">
      {% if item.thumbnail %}
        <figure class="card-image w-12 has-image" style="background-image: url( {{ TimberImage( item.thumbnail ).src( 'card' ) }} )">
          <img src="{{ TimberImage( item.thumbnail ).src( 'card' ) }}" class="sr-only" alt="{{ TimberImage( item.thumbnail ).post_title }}" />
        </figure>
      {% else %}
        <figure class="card-image w-12 default-image">
          <div class="image full-background" style="background-image: url( {{ TimberImage( site.data.options.site_logo ).src }} )">
          </div><!-- .image -->
          <img src="{{ TimberImage( item.thumbnail ).src( 'card' ) }}" class="sr-only" alt="{{ item.post_title }}" />
        </figure>
      {% endif %}
    </a>

    {% if actions_position == 'top' %}
      {% include 'blocks/components/project-actions.twig' with {
          post: item,
          btn_class: 'btn--xs'
        } %}
    {% endif %}

    <div class="card-content">

      {% if item.post_type == 'event' or item.post_type == 'post' %}
        {% include 'blocks/components/post-meta.twig' %}
      {% endif %}

      <a href="{{ item.get_link }}" title="{{ item.post_title }}">
        <div class="post-title-wrapper">
          <h3 class="h4 post-title post-title--card">{{ item.post_title }}</h3>
        </div><!-- .post-title post-title--card -->
      </a>

      <div class="post-excerpt">
        {{ item.post_excerpt | truncate }}
      </div><!-- .post-excerpt -->

    </div><!-- .card-content -->

    {% if item.post_type == 'project' %}
      <div class="card-link btn btn--solid card-link--edit">
        {{ __('Edit Project') }}
      </div><!-- .card-link -->
    {% endif %}

    {% if actions_position == 'bottom' %}
      {% include 'blocks/components/project-actions.twig' with {
        post: item,
        btn_class: 'btn--xs'
      } %}
    {% endif %}

  </div><!-- .card-inner -->

</div><!-- .grid-item w-12 w-md-3 -->
