<div class="grid-item card-item w-12 w-md-6 w-lg-3 card--{{ colour }} card--twitter {{ class }}" {{ attr }} aria-label="{{ __( 'Twitter post:' ) ~ ' ' ~ content.title | striptags }}">
  <div class="card-content {{ is_twitter is null ? 'text-center' }}" data-card-resize>

    {% if is_twitter %}
      <i class="icon-twitter twitter-icon" aria-hidden="true"></i>
    {% endif %}

    <p class="h4 post-title post-title--card {{ is_twitter ? 'post-title--twitter' }}">{{ content.title }}</p>

    {% if content.cite %}
      <cite class="{{ is_twitter ? 'post-cite--twitter' }}">
        {% if content.cite_url %}
          <a href="{{ content.cite_url }}" title="{{ content.cite }}'s Twitter Profile" target="_blank">
        {% endif %}

        @{{ content.cite }}

        {% if content.cite_url %}
          </a>
        {% endif %}
      </cite>
    {% endif %}

  </div><!-- .card-content -->
</div><!-- .grid-item w-12 w-md-3 -->
