{% if pagination.total > 1 %}
  <div class="container">

    <div class="pagination">
      {% if pagination.prev.link %}
        <a href="{{ pagination.prev.link }}" title="{{ ( 'Go to the previous page' ) }}" class="pagination-nav pagination-nav--prev" aria-label="{{ ( 'Go to the previous page' ) }}"><i class="icon-arrow-left" aria-hidden="true"></i>{{ ( 'Previous' ) }}</a>
      {% else %}
        <span atia-label="You are in the first page" class="disabled pagination-nav pagination-nav--prev" disabled aria-hidden="true"><i class="icon-arrow-left" aria-hidden="true"></i>{{ ( 'Previous' ) }}</span>
      {% endif %}

      <ul class="pagination-links">
        {% for item in pagination.pages %}
          <li class="{{ item.class }} pagination-number">
            {% if item.current %}
              <span aria-label="{{ ( 'Current on page' ) ~ ' ' ~ item.title }} of {{ pagination.total }}" class="pagination-link"><span class="sr-only">{{ ( 'Page' ) }} </span>{{ item.title }}</span>
            {% else %}
              <a href="{{ item.link }}" aria-label="{{ ( 'Go to page' ) ~ ' ' ~ item.title }}" class="pagination-link"><span class="sr-only">{{ ( 'Page' ) }} </span>{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      {% if pagination.next.link %}
        <a href="{{ pagination.next.link }}" title="{{ __( 'Go to the next page' ) }}" class="pagination-nav pagination-nav--next" aria-label="{{ __( 'Go to the next page' ) }}">{{ ( 'Next' ) }}<i class="icon-arrow-right" aria-hidden="true"></i></a>
      {% else %}
        <span atia-label="You are in the last page" class="disabled pagination-nav pagination-nav--next" disabled aria-hidden="true">{{ ( 'Next' ) }}<i class="icon-arrow-right" aria-hidden="true"></i></span>
      {% endif %}
    </div><!-- .pagination -->

  </div><!-- .container -->
{% endif %}
