{% if posts | length > 0 %}

  {% for key, item in posts %}

    {% include 'blocks/components/feature-post.twig' with {
      alternate: true,
      background: 'white',
      btn_colour: 'btn--primary',
      feature: item,
      link: {
        link: item.get_link,
        target: '_self'
      }
    } %}

  {% endfor %}

{% else %}
  {% include 'blocks/no-posts.twig' with {
    background: 'white'
  } %}
{% endif %}
