{% if post.images or post.logos %}
  <div class="post-images w-12 w-md-6">
    {% if post.images %}
      <div class="images">
        {% for item in post.get_field( 'images' ) %}
          <figure class="image">
            <img src="{{ TimberImage( item.id ).src }}" alt="{{ TimberImage( item.id ).post_title }}" />
          </figure>
        {% endfor %}
      </div><!-- .post-image -->
    {% endif %}

    {% if post.logos %}
      <div class="post-logos">
        <h3>&mdash; {{ __( 'Funded By' ) }}</h3>
        <div class="images images--rounded">
          {% for item in post.get_field( 'logos' ) %}
            <figure class="image">
              <img src="{{ TimberImage( item.id ).src( 'fund_logo' ) }}" alt="{{ TimberImage( item.id ).post_title }}" />
            </figure><!-- .image -->
          {% endfor %}
        </div><!-- .images -->
      </div><!-- .post-logos post-logos--rounded -->
    {% endif %}
  </div><!-- .post-image w-12 w-md-6 -->
{% endif %}