<div class="post-meta post-meta--card">

  <time class="post-meta-date post-meta-item">{{ item.post_type == 'event' ? get_date_range( item.date_start, item.date_end ) : item.post_date | date( 'F j, Y' ) }}</time>

  {% if item.location %}
    <span class="post-meta-separator post-meta-item"> | </span>
    <span class="post-meta-location post-meta-item">{{ item.location }}</span>
  {% endif %}
</div><!-- .time-location -->
