<div class="card-actions {{ actions_position ? 'card-actions--' ~ actions_position : '' }} flex flex--justify-center">

  <a href="/request-a-build?project_id={{ post.id }}" class="btn {{ btn_class ? btn_class ~ ' ' : '' }}btn--outline btn--teal" title="">{{ __( 'Request' ) }}</a>

  {% if post.forum_link %}
    <a href="{{ post.forum_link }}" class="btn {{ btn_class ? btn_class ~ ' ' : '' }}btn--outline btn--red" title="">{{ __( 'Improve' ) }}</a>
  {% endif %}

  <a href="{{ post.get_link }}#reviews" class="btn {{ btn_class ? btn_class ~ ' ' : '' }}btn--outline btn--dark-blue" title="">{{ __( 'Review' ) }}</a>

</div><!-- .card-actions -->
