<div class="grid-item grid--flex w-12 w-md-4 background-{{ data.background_colour }}">

  <div class="grid-item grid-item--inner w-12">
    <h4 class="mt-0" aria-hidden="true">{{ data.title }}</h4>
    <a href="{{ data.link.url }}" title="{{ button_label }}" aria-label="{{ data.title }}" class="btn btn--outline btn--white btn--large js-form-trigger-button{{ button_class }}">{{ button_label }}</a>
  </div><!-- .grid-item -->

</div><!-- .grid-item grid--flex -->
