<div class="grid-item card-item--testimonial card-item w-12 {{ class }} {{ column_width ? column_width : 'w-12 w-md-4' }}">
  <div class="grid-content testimonial-content card-content">
    {% include 'blocks/components/testimonial-content.twig' %}
  </div><!-- .grid-content testimonial-content -->
</div><!-- .card-item--testimonial -->
