<figure class="testimonial-image">
  <img src="{{ TimberImage( item.thumbnail ).src( 'thumbnail' ) }}" alt="">
</figure>
<div class="testimonial-content" aria-label="{{ __( 'Testimonial by' ) ~ ' ' ~ item.post_title ~ ': ' ~ item.post_content }}">
  <blockquote class="testimonial-quote">{{ item.post_content }}</blockquote>
  <cite class="testimonial-cite">{{ item.post_title }}</cite>
</div><!-- .testimonial-content -->
