<div class="video-embed {{ class }}">
  <a href="javascript:void(0)" title="Play Video" aria-label="Play {{ video_title }} Video" class="video-play-icon js-play-video" data-video_id="{{ id }}" data-video_service="{{ service }}"></a>
  <a href="javascript:void(0)" title="Close Video" class="video-close-icon icon-plus-bold js-close-video"></a>
  <div class="js-video-embed video-embed-container" aria-live>

    {% if service == 'youtube' %}

      {# <iframe class="youtube_vid" id="youtube_player" src="//www.youtube.com/embed/{{ id }}?enablejsapi=1&rel=0&modestbranding=1&controls=1&HD=1&showinfo=0&wmode=transparent&vq=hd720" frameborder="0" allowfullscreen wmode="transparent"></iframe> #}

    {% else %}

      {# <iframe src="//player.vimeo.com/video/{{ id }}/?api=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen wmode="transparent"></iframe> #}

    {% endif %}

  </div><!-- .js-video-embed -->
</div><!-- .video-embed -->
