//Grid
$max-width: 1170px;
$global-edge-padding:15px;
$mobile-width: 960px;

//https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$breakpoints: (
  'xsmallDown':  ( max-width:  479px ),
  'xsmall':  ( min-width:  480px ),
  'smallDown':  ( max-width:  639px ),
  'small':  ( min-width:  640px ),
  'mediumDown': ( max-width:  767px ),
  'medium': ( min-width:  768px ),
  'largeDown':  ( max-width: 959px ),
  'large':  ( min-width: 960px ),
  'xlargeDown':  ( max-width: 1199px ),
  'xlarge':  ( min-width: 1200px ),
) !default;


/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
