

// Typography
$base-font-family: "Roboto", "Arial", sans-serif;
$heading-font-family: $base-font-family; 

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
// First Four make up color palette. Add more as required 
// Handy naming tool : http://chir.ag/projects/name-that-color 
//rename to more helpful colors
$color-1: #477dca;
$color-2: #333;
$color-3: #999; 
$color-4: #ddd;
  
// Font Colors
$base-font-color: $color-2;
$action-color: $color-1;

//Typography Colors
$first-heading-color: $color-2;
$second-heading-color: $color-1;

// Border
$base-border-color: $color-4;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//Tab Colors
$tabActive:$color-1;
$tabBorder:$color-1;

//Accordion Colors
$accordion-color:$color-1;


// Animations
$base-duration: 250ms;
$base-timing: ease;


//Add colors to styleguide
/*doc
---
title: Background Colors
name: background
category: Base CSS
---

We have a few background colors that can be used in various contexts.
These are not for use as the entire page background but instead for
specific components and modules on the page.

<div class="line txtC">
    <div class="col cols6 ">
      <div class="docSwatch primary-color"></div>
      <code>primary-color</code>
    </div>
    <div class="col cols6 ">
      <div class="docSwatch secondary-color"></div>
      <code>secondary-color</code>
    </div>
    <div class="col cols6 ">
      <div class="docSwatch accent-color"></div>
      <code>accent-color</code>
    </div>
    <div class="col cols6 lastCol">
      <div class="docSwatch  sec-accent-color"></div>
      <code>sec-accent-color</code>
    </div>
</div>
*/
.primary-color{background:$color-1;}

.secondary-color{background:$color-2;}

.accent-color{background:$color-3;} 

.sec-accent-color{background:$color-4;} 
