/*
Footer
------------------------------------------------*/

/* Footer */
.footer-container {
	margin-top: 25px;
}

.footer-contact-info {
	width: 40%;
}

.footer-contact-info div {
	width: 100%;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.59;
	letter-spacing: normal;
	color: black;
	margin-bottom: 10px;
}

.footer-contact-info .email-address, .footer-contact-info .link-address {
	color: #707070;
	text-decoration: underline;
}

.footer-site-logo {
	max-width: 100%;
}
.footer-site-logo img{
	width: 240px;
}

.footer-contact-link {
	width: 40%;
	margin-top: 75px;
}

.footer-contact-link div {
	width: 100%;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.59;
	letter-spacing: 0.34px;
	margin-bottom: 10px;
}

.footer-contact-link a {
	display: block;
	margin-bottom: 0px;
}

.footer-contact-link .email_address {
	width: 100%;
}

.footer-contact-link .charity-number {
	font-family: Roboto;
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.59;
	letter-spacing: 0.34px;
	text-align: left;
	color: #000000;
	margin-top: 50px;
}

.donate-container .donate-button {
	background-color: #e71d2e;
    border-radius: 10px;
    padding: 15px 100px;
    height: 50px;
    margin-top: 70px;
    margin-right: 40px;
    font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.05;
	letter-spacing: 0.4px;
	text-align: center;
	color: #ffffff;
}

.footer-site-info-container {
	background-color: white;
}

.footer-site-info {
	text-align: left;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 60px;
    background-color: white;
}

.footer-site-info span {
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.43;
	letter-spacing: 0.28px;
	color: #676767;
}

.footer-site-info a {
	text-decoration: underline;
}

.footer-last-item {
	padding-left: 10px;
}

.footer-mobile {
	display: none;
}

.footer .fontello-icon {
	font-size: 36px;
	margin-top: 30px;
}

/* Mobile Nav */
@media screen and (max-width: 768px) {
	footer {
		background: #ffffff;
	}

	.footer-container {
		border-bottom: 1px solid black;
	}

	footer .footer-contact-info{
		width: 100%;
	}

	footer .footer-contact-info .email-address, footer .footer-contact-info .link-address {
		color: black;
		text-decoration: none;
	}

	.charity-number, .footer-contact-link, .donate-container {
		display: none;
	}

	.footer-mobile {
		display: block;
		font-family: Roboto;
	    font-size: 17px;
	    font-weight: 500;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: 1.59;
	    letter-spacing: normal;
	    color: black;
	    padding: 30px;
	    border-bottom: 1px solid black;
	    border-top: 1px solid black;
	}

	.footer-site-info {
		padding: 25px 35px;
	}
	.footer-last-item{
		padding-left: 0px;
	}
}


// /* Footer */
// .footer-container {
// 	margin-top: 25px;
// 	.footer-contact-info {
// 		width: 40%;
// 		.footer-contact-info div {
// 			width: 100%;
// 			font-family: Roboto;
// 			font-size: 17px;
// 			font-weight: 500;
// 			font-stretch: normal;
// 			font-style: normal;
// 			line-height: 1.59;
// 			letter-spacing: normal;
// 			color: black;
// 			margin-bottom: 10px;
// 		}
// 		.footer-contact-info .email-address, .footer-contact-info .link-address {
// 			color: #707070;
// 			text-decoration: underline;
// 		}
// 		.footer-site-logo {
// 			max-width: 100%;
// 			img{
// 				width: 240px;
// 			}
// 		}
// 	}
// 	.footer-contact-link {
// 		width: 40%;
// 		margin-top: 75px;
// 		div {
// 			width: 100%;
// 			font-family: Roboto;
// 			font-size: 17px;
// 			font-weight: 500;
// 			font-stretch: normal;
// 			font-style: normal;
// 			line-height: 1.59;
// 			letter-spacing: 0.34px;
// 			margin-bottom: 10px;
// 		}
// 		a {
// 			display: block;
// 			margin-bottom: 0px;
// 		}
// 		.email_address {
// 			width: 100%;
// 		}
// 		.charity-number {
// 			font-family: Roboto;
// 			font-size: 17px;
// 			font-weight: bold;
// 			font-stretch: normal;
// 			font-style: normal;
// 			line-height: 1.59;
// 			letter-spacing: 0.34px;
// 			text-align: left;
// 			color: #000000;
// 			margin-top: 50px;
// 		}
// 	}
// 	.donate-container {
// 		.donate-button {
// 			background-color: #e71d2e;
// 		    border-radius: 10px;
// 		    padding: 15px 100px;
// 		    height: 50px;
// 		    margin-top: 70px;
// 		    margin-right: 40px;
// 		    font-family: Roboto;
// 			font-size: 20px;
// 			font-weight: 500;
// 			font-stretch: normal;
// 			font-style: normal;
// 			line-height: 1.05;
// 			letter-spacing: 0.4px;
// 			text-align: center;
// 			color: #ffffff;
// 		}
// 	}
// }

// .footer-site-info-container {
// 	background-color: white;
// 	.footer-site-info {
// 		text-align: left;
// 	    max-width: 1300px;
// 	    margin-left: auto;
// 	    margin-right: auto;
// 	    padding: 25px 60px;
// 	    background-color: white;
// 	    span {
// 			font-family: Roboto;
// 			font-size: 14px;
// 			font-weight: normal;
// 			font-stretch: normal;
// 			font-style: normal;
// 			line-height: 1.43;
// 			letter-spacing: 0.28px;
// 			color: #676767;
// 		}
// 		a {
// 			text-decoration: underline;
// 		}
// 		.footer-last-item {
// 			padding-left: 10px;
// 		}
// 	}
// }

// .footer-mobile {
// 	display: none;
// }


// /* Mobile Nav */
// @media (max-width: 768px) {

// 	header{
// 		border-bottom: 0px;
// 	}
// 	.navigation {
// 		height: 100vh;
//    		overflow-y: auto;
//    		display: flex;
//     	flex-direction: column;
//     	position: fixed;
//     	padding-top: 65px;
//     	width: 100vw;
// 	}

// 	#main-navigation {
// 		display: none;
// 	}

// 	.navigation-logo {
// 		top: 0;
// 		position: fixed;
// 		background: #ffffff;
// 		left: 0px;
// 		z-index: 1000000;
//    		height: 125px;
// 	}

// 	.navigation-logo .logo-image {
// 		width: 250px;
// 		margin-left: 20px;
// 	}

// 	.menu-hamburger, .menu-hamburger:after, .menu-hamburger:before {
// 		background: #000000;
// 		height: 2px;
// 		margin-right: 10px;
// 	}

// 	.navigation-list {
// 		flex-direction: column;
// 	}

// 	.navigation-item:first-child {
// 		margin-top: 50px;
// 	}

// 	.navigation-item {
// 		width: 100%;
// 		background: #ffffff;
// 		margin-top: 0;
// 	}

// 	.navigation-text {
// 		font-size: 20px;
// 		margin-left: 20px;
// 	}

// 	.nav-mobile {
// 		display: block;
// 	}

// 	.my-profile {
// 		display: none;
// 	}

// 	.utility-bar{
// 		display: none;
// 	}

// 	.utility-mobile{
// 		margin-top: 50px;
// 	}

// 	.navigation-box {
// 		border: 1px solid #000000;
// 		margin: 30px 40px;
// 		padding: 20px;
// 		text-align: center;
// 		font-size: 20px;
// 		color: #ffffff;
// 		background: #000000;
// 	}

// 	.navigation-fontello-icon {
// 		margin: 30px 40px;
// 		font-size: 40px;
// 	}

// 	.navigation-box.member-box {
// 		background: #ffffff;
// 		color: #707070;
// 	}

// 	.navigation-

// 	footer {
// 		background: #ffffff;
// 	}

// 	.footer-container {
// 		border-bottom: 1px solid black;
// 	}

// 	footer .footer-contact-info{
// 		width: 100%;
// 	}

// 	footer .footer-contact-info .email-address, footer .footer-contact-info .link-address {
// 		color: black;
// 		text-decoration: none;
// 	}

// 	.charity-number, .footer-contact-link, .donate-container {
// 		display: none;
// 	}

// 	.footer-mobile {
// 		display: block;
// 		font-family: Roboto;
// 	    font-size: 17px;
// 	    font-weight: 500;
// 	    font-stretch: normal;
// 	    font-style: normal;
// 	    line-height: 1.59;
// 	    letter-spacing: normal;
// 	    color: black;
// 	    padding: 30px;
// 	    border-bottom: 1px solid black;
// 	    border-top: 1px solid black;
// 	}

// 	.footer-site-info {
// 		padding: 25px 35px;
// 	}
// 	.footer-last-item{
// 		padding-left: 0px;
// 	}
// }