/*
Layout
------------------------------------------------*/
.main-container{
	max-width: 1170px;
	margin: auto;
}

/*Page wrapper*/
.wrapper{
	margin-left: 0px;
}


/*************************************
Mobile Changes
**************************************/
@media screen and (max-width: $mobile-width) {
	.main-container{
		max-width: 960px;
	}
}