/*
Navigation
------------------------------------------------*/

/* Top Navigation */
.navigation {
	min-height: 130px;
	width: 1170px;
	overflow: auto;
    position: static;
    display: flex;
    margin: 0 auto;
    background: #ffffff;
	.navigation-list {
		display: flex;
	    justify-content: space-between;
	    width: 100%;
	    .navigation-item{
			margin-top: 50px;
			.navigation-text {
				font-size: 20px;
				font-family: Roboto;
				font-weight: 500;
				letter-spacing: 0.6px;
			}
		}
	}
	.my-profile {
		right: 40px;
	    top: 82px;
	    position: absolute;
	    font-size: 20px;
		font-family: Roboto;
		font-weight: 500;
		color: #707070;
		letter-spacing: 0.6px;
	}
}

.utility-bar {
	position: absolute;
	right: 0px;
	ul{
		display: flex;
		list-style: none;
		margin: 0;
	}
	.top-nav {
		font-family: Roboto;
	  	font-size: 17px;
	  	font-weight: 500;
		margin-top: 25px;
		margin-right: 20px;
		color: #707070;
	}
	.top-nav.sign-up {
		background-color: #e71d2e;
		border-radius: 10px;
		color: white;
		padding: 7px 15px;
		height: 40px;
		margin-top: 17px;
		margin-right: 40px;
		letter-spacing: 0.51px;
	}
}

.navigation-logo{
	position: absolute;
	left: 3%;
	.logo-image {
		width: 260px;
	}
}

.nav-mobile {
	display: none;
}

/*************************************
Mobile Changes
**************************************/
@media (max-width: 1400px) {
	/* Top Navigation */
	.navigation{
		width: 850px;
		.navigation-list{
			.navigation-text{
				.navigation-item{
					font-size: 16px;
					margin-top: 0;
				}
			}		
		}
		.my-profile{
			font-size: 16px;
		}
	}
	.navigation-logo{
		.logo-image {
		    width: 210px;
		}
	}
}


@media screen and (max-width: 768px) {
	header{
		border-bottom: 0px;
	}
	.navigation {
		height: 100vh;
   		overflow-y: auto;
   		display: flex;
    	flex-direction: column;
    	position: fixed;
    	padding-top: 65px;
    	width: 100vw;
	}

	#main-navigation {
		display: none;
	}

	.navigation-logo {
		top: 0;
		position: fixed;
		background: #ffffff;
		left: 0px;
		z-index: 1000000;
   		height: 125px;
	}

	.navigation-logo .logo-image {
		width: 250px;
		margin-left: 20px;
	}

	.menu-hamburger, .menu-hamburger:after, .menu-hamburger:before {
		background: #000000;
		height: 2px;
		margin-right: 10px;
	}

	.navigation-list {
		flex-direction: column;
	}

	.navigation-item:first-child {
		margin-top: 50px;
	}

	.navigation .navigation-list .navigation-item {
		width: 100%;
		background: #ffffff;
		margin-top: 0;
	}

	.navigation-text {
		font-size: 20px;
		margin-left: 20px;
	}

	.nav-mobile {
		display: block;
	}

	.my-profile {
		display: none;
	}

	.utility-bar{
		display: none;
	}

	.utility-mobile{
		margin-top: 50px;
	}

	.navigation-box {
		border: 1px solid #000000;
		margin: 30px 40px;
		padding: 20px;
		text-align: center;
		font-size: 20px;
		color: #ffffff;
		background: #000000;
	}

	.navigation-fontello-icon {
		margin: 30px 40px;
		font-size: 40px;
	}

	.navigation-box.member-box {
		background: #ffffff;
		color: #707070;
	}
}