// GSSI
// http://www.graphicallyspeaking.ca
// Copyright Graphically Speaking

@import "lib/normalize/normalize";
@import "base/base";
@import "lib/slick";
@import "functions/mixins.scss";
@import "helpers/print"; 


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

body{
	overflow-y:scroll;
}



/*****************************
Global Classes
******************************/
.section-inner {
	@include outerContainer();
	@include sidePad();
	position: relative;
}

.screen-reader-text,
.skip{
	@include elementInvisible();
}



/*****************************
Global Blocks
******* ***********************/
@import 'blocks/header'; 
@import 'blocks/navigation'; 
@import 'blocks/layout'; 
@import 'blocks/footer'; 

/*****************************
Templates
******************************/
@import "templates/overview"; 
@import "templates/news"; 
@import "templates/extra"; 