{% for key, item in twitter_feed %}

  <div class="element">

    {% include 'blocks/components/grid-twitter.twig' with {
      colour: 'primary',
      class: 'js-twitter-item twitter-item',
      content: {
        title: item.text,
        cite: item.user.screen_name,
        cite_url: item.user.url,
      },
      attr: 'data-index="' ~ ( ( key / posts_per_page ) + 1 ) | round( 0, 'floor' ) ~ '"',
      is_twitter: true,
    } %}

  </div><!-- .element -->

{% endfor %}
