<head>

<meta charset="{{ site.charset }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- <meta name="format-detection" content="telephone=no" /> -->

{% if page_title %}
  {% set head_title = page_title ~ ' &mdash; ' %}
{% endif %}

{% if wp_title %}
  {% set head_title = head_title ~ wp_title %}
{% else %}
  {% set head_title = head_title ~ site.name %}
{% endif %}

<title>{% spaceless %}{{ head_title | raw }}{% endspaceless %}</title>

{% if site.data.options.google_analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.data.options.google_analytics }}', 'auto');
    ga('send', 'pageview');

  </script>
{% endif %}

{# <link rel="apple-touch-icon" sizes="57x57" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-57x57.png?v=2">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-60x60.png?v=2">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-72x72.png?v=2">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-76x76.png?v=2">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-114x114.png?v=2">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-120x120.png?v=2">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-144x144.png?v=2">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-152x152.png?v=2">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.appRootUrl }}/src/images/icons/apple-icon-180x180.png?v=2">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.appRootUrl }}/src/images/icons/android-icon-192x192.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.appRootUrl }}/src/images/icons/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.appRootUrl }}/src/images/icons/favicon-96x96.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.appRootUrl }}/src/images/icons/favicon-16x16.png?v=2"> #}
<link rel="manifest" href="{{ site.appRootUrl }}/src/images/icons/manifest.json?v=2">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.appRootUrl }}/src/images/icons/ms-icon-144x144.png?v=2">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="{{ site.appRootUrl }}/src/styles/custom.css">
{{ function( 'wp_head' ) }}

<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script>
<![endif]-->

</head>
