<div class="header-utils">
  <a href="{{ site.url }}/wp-admin/post.php?post={{ post.id }}&action=edit" title="Edit" id="edit-post-link" class="sh-pencil admin-links" target="_blank" aria-hidden="true">Edit</a>

  <a href="{{ site.url }}/wp-admin/post-new.php?post_type={{ post.post_type }}" title="Add New" id="new-post-link" class="sh-pencil admin-links" target="_blank" aria-hidden="true">Add New</a>
</div>
