/**
 * Template Name:  Makers Making Change
 * Template URI:   http://makersmakingchange.com
 * Author:         BigLittle
 * Author URI:     http://biglittle.ca
 * Description:    Displays tweets in a grid format
 * Version:        1.0.0
 * License:        GNU General Public License v2 or later
 * License URI:    http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:           default
 * Text Domain:    fetch-tweets
 */

// .fetch-tweets {
//     overflow-y: auto;
// 	overflow-x: hidden;
//     width: inherit;
// }
// .fetch-tweets > .fetch-tweets-item {
// 	display: inline-block;
// 	padding-bottom: 0.5em ;
// 	width: 100%;
// }
// .fetch-tweets > .fetch-tweets-item a {
//     /* removes the underlines of hyper links in the Twenty Fifteenth theme */
//     border-bottom: 0;
// }
// .fetch-tweets > .fetch-tweets-retweet {
// }
// .fetch-tweets-item > .fetch-tweets-main {
// 	padding: 0 0.8em;
// 	/* display: table-cell !important; */
// }
// .fetch-tweets-heading > .fetch-tweets-heading {
// 	vertical-align: text-top;
// 	line-height: 1em;
// }
// .fetch-tweets-item  > .fetch-tweets-profile-image {
// 	margin: 0 0 0 0;
// }
// .fetch-tweets-heading > .fetch-tweets-user-name {
// 	margin-bottom: 0.3em;
// 	display: inline-block;

// }
// .fetch-tweets-heading > .fetch-tweets-user-name a {
// 	text-decoration: none;
// }
// .fetch-tweets-heading > .fetch-tweets-tweet-created-at {
// 	display: inline;
// 	float: right;
// 	font-size: smaller;
// 	margin-left: 1em;
// }
// .fetch-tweets-heading > .fetch-tweets-tweet-created-at a {
// 	text-decoration: none;
// }
// .fetch-tweets-main > .fetch-tweets-body {
// }
// .fetch-tweets-body > .fetch-tweets-text {
// 	margin-bottom: 0;
// }
// div.fetch-tweets-body > p.fetch-tweets-text {
// 	margin-bottom: 0;
// }
// .fetch-tweets-text > .fetch-tweets-retweet-credit {
// 	float: right;
// 	margin-left: 0.5em;
// 	font-size: smaller;
// }
// .fetch-tweets-text > .fetch-tweets-retweet-credit a {
// 	text-decoration: none;
// }
// .fetch-tweets .fetch-tweets-body > .fetch-tweets-external-media {
// 	clear: both;
//     margin: 0.4em 0;
// }
// .fetch-tweets .fetch-tweets-media > .fetch-tweets-media-photo {
// }
// .fetch-tweets .fetch-tweets-body > .fetch-tweets-external-media img,
// .fetch-tweets .fetch-tweets-media > .fetch-tweets-media-photo img {
// 	max-width: 100%;
// 	height: auto;
// }
// .fetch-tweets .fetch-tweets-body > .fetch-tweets-media {
//     margin-top: 0.5em;
//     margin-bottom: 0.5em;
// }

// .fetch-tweets-body > .fetch-tweets-intent-buttons {
// 	float: right;
// 	font-size: smaller;
// 	margin: 0;
// 	padding: 0;
// }
// .fetch-tweets-body > .fetch-tweets-intent-buttons a ,
// .fetch-tweets-intent-buttons .fetch-tweets-intent-icon a:hover {
// 	text-decoration: none;
// }
// .fetch-tweets-body > ul.fetch-tweets-intent-buttons > li {
// 	display: inline;
// 	margin-left: 0;
// 	list-style-type: none;
// }
// .fetch-tweets-intent-buttons span.fetch-tweets-intent-buttons-text {
// 	vertical-align: middle;
// }

// .fetch-tweets-intent-buttons span.fetch-tweets-intent-icon {
// 	display: inline-block;
// 	vertical-align: middle;
// 	width: 16px;
// 	height: 16px;
// 	background-position: 0 0;
// 	background-repeat:no-repeat;
// }
// .fetch-tweets-intent-buttons span.fetch-tweets-intent-icon:hover  {
// 	background-position: -16px 0;
// }
// .fetch-tweets-heading > .fetch-tweets-follow-button {
//     margin-left:0.4em;
//     float:right;
//     vertical-align: middle;
// }
