{% extends "layouts/default.twig" %}

{% block header %}

{% endblock %}

{% block content %}

  <section class="section section--connect section--no-padding">

    <div class="grid--flex">

      <div class="grid-item w-12 w-md-6 connect-column connect-list background-white">

        <div class="connect-list-inner" aria-describedby="connect-info" aria-labelledby="connect-heading">

          {% include 'blocks/components/connect-form-map.twig' with {
            class: 'connect'
          } %}

          {% if posts_found == 'initial' %}

            <div class="container container--padded connect-container">
              <div class="inner">
                <h1 class="mt-0" id="connect-heading">{{ post.search_options_title }}</h1>
                <div id="connect-info">{{ post.search_options_content }}</div>
              </div><!-- .inner -->
            </div>

          {% elseif posts_found == 'none' %}

            {% set not_found = post.get_field( 'not_found' ) %}
            <div class="container container--padded connect-container" aria-label="{{ not_found.content | striptags }}">
              <div class="inner">
                <h1 class="mt-0" id="connect-heading">{{ not_found.title }}</h1>
                <p class="h3" id="connect-info">{{ not_found.content | striptags( '<a>' ) }}</p>
              </div><!-- .inner -->
            </div>

          {% else %}

            <div class="container container--padded">
              <h1 class="h2 mb-0 mt-0" id="connect-heading">
                {% if posts_found == 1 %}
                  {{ posts_found ~ ' ' ~ __( 'Result Found' ) }}
                {% else %}
                  {{ posts_found ~ ' ' ~ __( 'Results Found' ) }}
                {% endif %}
              </h1>
              <small class="label" id="connect-info">{{ stats }}</small>
            </div>

            <div class="connect-items">
              {% for item in posts %}
                {% set connect = post.getConnectData( item ) %}

                {% set button %}
                  <div class="connect-button">
                    <a href="{{ connect.button.link.url }}" target="{{ connect.button.link.target }}" aria-label="{{ connect.aria_label }}" class="btn btn--outline--small btn--{{ connect.colour }} {{ connect.button.class }}" {{ connect.button.link.attr }}>
                      {{ connect.button.label }}
                    </a>
                  </div><!-- .w-12 w-md-5 -->
                {% endset %}

                {% set meta %}
                  {% if connect.meta %}
                    <div class="label label--small connect-label">
                      {{ connect.meta }}
                    </div><!-- .label -->
                  {% endif %}
                {% endset %}

                <div class="connect-item container container--padded connect-item--{{ item.type }} connect-item--{{ connect.colour }}" data-lat="{{ connect.latitude }}" data-lng="{{ connect.longitude }}" data-pin="{{ connect.pin }}" data-id="{{ item.id }}">
                  <div class="connect-content">
                    <label class="mb-0 label--small"><i class="{{ connect.icon }} connect-icon" aria-hidden="true"></i> {{ connect.label }}</label>

                    <h3 class="mt-05 mb-05">{{ connect.title }}</h3>
                    {{ meta }}

                    {% if connect.content %}
                      {{ connect.content }}
                    {% endif %}

                  </div><!-- .w-12 w-md-7 -->

                  {{ button }}

                </div><!-- .connect-item -->
              {% endfor %}
            </div><!-- .connect-items -->

            {% if pagination.total > 1 %}
              {% include 'blocks/components/pagination.twig' %}
            {% endif %}

          {% endif %}

        </div><!-- .connect-list-inner -->
      </div><!-- .w-12 w-md-6 connect-list -->

      <div class="w-12 w-md-6 connect-column connect-map-container">

        <a href="javascript:void(0)" aria-label="{{ __( 'Search this Area' ) }}" class="btn btn--round js-search-area-btn btn--search-area btn--solid">{{ __( 'Search this Area' ) }}</a>

        <div class="js-map connect-map">
        </div><!-- .js-map -->

        {% if posts_found != 'none' and posts_found != 'initial' %}

          <dl class="map-legends">
            <dt class="map-legend map-legend--darker-grey label label--small">
              <i class="map-legend-icon icon-legend-event" aria-hidden="true"></i>{{ __( 'Event' ) }}
            </dt><!-- .map-legend map-legend-- -->
            <dt class="map-legend map-legend--red label label--small">
              <i class="map-legend-icon icon-legend-maker" aria-hidden="true"></i>{{ __( 'Maker' ) }}
            </dt><!-- .map-legend map-legend-- -->
            <dt class="map-legend map-legend--teal label label--small">
              <i class="map-legend-icon icon-legend-request" aria-hidden="true"></i>{{ __( 'Request' ) }}
            </dt><!-- .map-legend map-legend-- -->
          </dl><!-- .map-legends -->

        {% endif %}
      </div><!-- .w-12 w-md-6 connect-map -->

    </div><!-- .grid--flex -->

  </section>

{% endblock %}
