{% extends "layouts/default.twig" %}

{% block content %}
  <section class="section section--edit-profile section--no-padding">

    <div class="edit-profile-form container">
      {{ '[gravityform id="8" title="false" description="false"]' | shortcodes }}

      <div class="user-data--bottom user-data mt-1">
        <button class="btn btn--outline--small btn--dark-grey js-deactivate-profile-btn">{{ __( 'Deactivate Profile' ) }}</button>
        {% include 'blocks/delete-popup.twig' with {
          namespace: 'profile'
        } %}
      </div><!-- .user-data--bottom user-data -->

    </div><!-- .js-edit-profile-form -->

  </section>

  {% include 'blocks/flex.twig' %}

{% endblock %}
