{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header.twig' with {
    title: "Event Calendar",
    subtitle: ""
  } %}
{% endblock %}

{% block content %}


  <section class="section section--posts section--no-padding">
    <div class="grid grid--flex card main-container">
      <div class="search-filter">
    {% filter shortcodes %}
      [tribe_events]
      {% endfilter %}
    </div>

    </div><!-- .grid grid--flex -->

  </section>

{% endblock %}
