{% extends "layouts/default.twig" %}

{% block header %}

{% endblock %}

{% block content %}

  <section class="home page-content-background">
    <div class="container container--lg">
      <div class="flex flex--wrap flex--justify-center">

        {% if site.data.options.main_logo %}
          <div class="w-12 flex flex--justify-center">
            <div class="w-5 w-md-3 mt-1">
              <img src="{{ TimberImage( site.data.options.main_logo ).src() }}" alt="{{ site.name }}" />
            </div><!-- .w-4 -->
          </div>
        {% endif %}

        <div class="w-12 text-center">
          <h2 class="mb-1">{{ post.user_title }}</h2>
        </div><!-- .text-center -->

        <div class="w-12">
          <div class="row grid grid--flex flex--justify-center">
            {% for item in post.get_field( 'user_roles' ) %}
              <div class="grid-item w-gutter-12 w-gutter-md-4 card card-item card-item--gap card-item--colour card--{{ item.colour }}">
                <div class="card-content pb-1">
                  <div class="profile-avatar-wrapper">
                    <img src="{{ TimberImage( item.image ).src( 'square_200' ) }}" alt="{{ item.role }}" />
                  </div><!-- .profile-avatar-wrapper -->

                  <div class="w-12 text-center">
                    <h3 class="h3--xs">{{ item.role }}</h3>
                  </div>

                  <div class="w-12">
                    {% for link in item.links %}
                      <p class="card-link-item">
                        <a href="{{ link.link.url }}" title="{{ link.link.title }}" class="link">
                          <span>{{ link.link.title }}</span> <i class="icon icon-arrow-right"></i></a>
                      </p>
                    {% endfor %}
                  </div><!-- .w-12 -->
                </div><!-- . text-center card card-item--user card--{{ item.colour }} -->
              </div><!-- .card-item w-12 w-md-4 -->
            {% endfor %}
          </div><!-- .flex flex--justify-center -->
        </div><!-- .w-12 -->

      </div><!-- .row -->
    </div><!-- .container -->
  </section>

{% endblock %}
