{% extends "layouts/default.twig" %}

{% block header %}

{% endblock %}

{% block content %}
  {% if post.testimonial %}
    <section class="header-testimonial">
      <div class="container container--lg background-white box-shadow--darkest-grey-2 testimonial-container">
        {% include 'blocks/components/testimonial-content.twig' with {
          item: TimberPost( post.testimonial )
        } %}
      </div><!-- .container -->
    </section>
  {% endif %}

  <section class="section section--editor">
    <div class="container">

      {% if section.title %}
        <h2 class="h1 section-title section-title--dash">{{ section.title }}</h2>
      {% endif %}

      <div class="form-container form-container--signin mt-1">

        <div class="form-row form-row--separate">

          <div class="form--signup w-12 w-md-6 form-item form-item--signin">

            <h2 class="mt-0">{{ __( 'Sign Up' ) }}</h2>
            <div class="background-white box-shadow--darkest-grey-2 form-item-inner">

              {% do action( 'wordpress_social_login' ) %}

              <h4>{{ __( 'Or Sign Up with Email' ) }}</h4>
              {{ '[gravityform id="6" title="false" description="false"]' | shortcodes }}

            </div><!-- .background-white box-shadow--darkest-grey-2 -->

          </div><!-- .form--signup -->

          <div class="form--login w-12 w-md-6 form-item form-item--login">

            <h2 class="mt-0">{{ __( 'Login' ) }}</h2>
            <div class="background-white box-shadow--darkest-grey-2 form-item-inner">

              {% do action( 'wordpress_social_login' ) %}

              <h4>{{ __( 'Or Login with Email' ) }}</h4>
              {% do function( 'dynamic_sidebar', 'login_form' ) %}

            </div><!-- .background-white box-shadow--darkest-grey-2 -->

          </div><!-- .form--login -->
        </div><!-- .form-inner -->

      </div><!-- .form-container grid--flex -->

    </div><!-- .container -->
  </section>

{% endblock %}
