{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header.twig' with {
    title: "News Listing Page Heading H1",
    subtitle: ""
  } %}
{% endblock %}

{% block content %}


  <section class="section section--posts section--no-padding">
    <div class="grid grid--flex card main-container">
      <div class="search-filter">
    {% filter shortcodes %}
      [searchandfilter id="4283"]
      {% endfilter %}
    </div>
    {% filter shortcodes %}
      [searchandfilter id="4283" show="results"]
    {% endfilter %}
    </div><!-- .grid grid--flex -->

  </section>

{% endblock %}
