{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header.twig' with {
    title: site.data.options.past_events.title,
    subtitle: site.data.options.past_events.subtitle
  } %}
{% endblock %}

{% block content %}

  {% set events = post.get_events( 'past' ) %}
  <section class="section section--posts section--no-padding">
    <div class="grid grid--flex card">

      {% for item in events %}

        {% include 'blocks/components/grid-card.twig' with {
          colour: item.post_status == 'future' or item.date_start >= "now" | date( "m/d/Y" ) ? 'primary' : 'secondary',
          status: {
            status: item.post_status == 'future' or item.date_start >= "now" | date( "m/d/Y" ) ? 'upcoming' : 'past',
            label: __( 'Past Event' ),
            colour: 'darkest-grey',
          }
        } %}

      {% endfor %}

    </div><!-- .grid grid--flex -->

    {% include 'blocks/components/pagination.twig' %}

  </section>

{% endblock %}
