{% extends "layouts/default.twig" %}

{% block header %}

{% endblock %}

{% block content %}

  <section class="section section--profile section--no-padding">

    <div class="grid--flex">

      <div class="w-12 w-md-4 w-lg-3 profile-user-data grid-item">
        {% include 'blocks/profile/user-sidebar.twig' %}
      </div><!-- .w-12 w-md-3 -->

      <div class="w-12 w-md-8 w-lg-9 grid-item">

        <div class="profile-user-section">

          {% include 'blocks/profile/heading.twig' with {
            title: site.data.options.user_projects.title,
            link: site.data.options.user_projects_link
          } %}

          {% include 'blocks/profile/user-posts.twig' with {
            attr: 'data-projects',
            no_posts: site.data.options.no_projects,
          } %}

        </div><!-- .profile-user-section -->

        <div class="profile-user-section">

          {% include 'blocks/profile/heading.twig' with {
            title: site.data.options.request_a_build.title,
            subtitle: site.data.options.request_a_build.content,
          } %}

          <div class="user-data pt-0">
            <ul class="post-list" data-request data-user-posts aria-live="true">
            </ul>
          </div><!-- .user-data pt-0 -->

        </div><!-- .profile-user-section -->

        <div class="profile-user-section">

          {% include 'blocks/profile/heading.twig' with {
            title: site.data.options.reviews.title,
          } %}

          {% include 'blocks/profile/user-posts.twig' with {
            attr: 'data-reviews',
            no_posts: site.data.options.no_reviews,
          } %}

        </div><!-- .profile-user-section -->

      </div><!-- .w-12 w-md-9 -->

    </div><!-- .grid--flex -->

  </section>

{% endblock %}
