{% extends "layouts/default.twig" %}

{% block header %}
  <header class="page-header page-header--basic background-lightest-grey">
    <div class="container text-center">
      <h1 class="mb-0">{{ post.post_title }}</h1>
    </div><!-- .container -->
  </header><!-- /header -->
{% endblock %}

{% block content %}

  {% include 'blocks/flex.twig' %}

{% endblock %}
