{% extends "layouts/default.twig" %}

{% block content %}

<div class="hedar-image" style="background-image:url('{{ TimberImage( post.header_imgae ).src() }}')">

</div>   
<div class="container">
   <div class="nav-left"> 
      <ul class="navigation-list navigation-list-nav_left"  role="navigation"> 

        {% for item in nav_left_menu.items %} {# This is the top level #}
          <li class="nav-item {{ item.class }}">
            <a href="{{ item.get_link }}" title="{{ item.title }}" target="{{ item.target }}" aria-role="menuitem" aria-label="{{ item.title }}">
              {{ item.title }}
            </a>
              {% if item.children %}
                    <ul class="sub-menu"> 
                {% for child in item.children %} {# 2nd Level #}
                        <li class="nav-item {{ child.class }}">
                            <a href="{{ child.get_link }}" title="{{ child.title }}" target="{{ child.target }}" aria-role="menuitem" aria-label="{{ child.title }}">
                              {{ child.title }}
                            </a> 
                        </li>      
                {% endfor %} {# for child in item.children #}
                    </ul>      
              {% endif %} {# if item.children #}
          </li>        
        {% endfor %} {# for item in menu__main.items #}   
      </ul>    
   </div>
   <div class="block-content-right">
        <div class="content-top">
            <h1 class="title-page">  {{post.title}}</h1>
            <div class="block_content">{{post.block_content}}</div>
        </div>
        <div class="content-page">
            <div class="block block-normal">
              {% include 'blocks/flex.twig' %}   
            </div> 
            <div class="block items-image">                
                {% for item in post.block_images %}
                   <img src="{{ TimberImage( item ).src() }}" title="" alt=""/>
                {% endfor %}
            </div>
            <div class="block block-liststyle">
                {{post.block_liststyle}}
            </div>
            <div class="block block-table">
                {{post.block__table_heading}}
            </div>                   
        </div>
   </div>
</div>
{% endblock %}

