<div class="js-delete-popup delete-popup">
  <div class="container--md background-white container--padded pt-2 pb-2 delete-popup-container">
    <div class="delete-popup-content mb-1">
      {{ content | default( __( 'Are you sure you would like to deactivate your account? You cannot undo this action.' ) ) }}
    </div><!-- .delete-popup-content -->
    <button class="js-continue-deactivate-{{ namespace }} delete-popup-button btn btn--outline--small btn--primary">{{ __( 'Yes' ) }}</button>
    <button class="js-cancel-delete-{{ namespace }} delete-popup-button btn btn--solid btn--small btn--primary">{{ __( 'Cancel' ) }}</button>
  </div><!-- .container -->
</div><!-- .js-delete-popup delete-popup -->
