<div class="container--md">

  {% if title %}
    <div class="header-content">

      {% if pretitle %}
        <span class="text--primary page-pretitle">{{ pretitle }}</span>
      {% endif %}

      <h1 class="page-title" id="page-title">{{ title }}</h1>

      {% if requests.type and requests.user_id %}

        <p class="h3 page-subtitle js-subtitle-request">{{ __( 'Connect with' ) }} <span class="js-connect-username" data-user_id="' . $userID . '"></span> {{ __( 'to find out about the request' ) }}
        <p class="h3 page-subtitle js-subtitle-connect">{{ __( 'Contact' ) }} <span class="js-connect-username" data-user_id="' . $userID . '"></span>

      {% else %}
        {% if subtitle %}
          <p class="h3 page-subtitle">{{ subtitle }}</p>
        {% endif %}
      {% endif %}

    </div><!-- .header-content -->
  {% endif %}
</div><!-- .container--md -->
