<div class="container page-header-container">

{% include 'blocks/header-content.twig' %}

{% if button.url %}
  <div class="header-button">
    <a href="{{ button.url }}" title="{{ button.title }}" target="{{ button.target }}" class="btn btn--outline--small btn--primary">{{ post.post_type == 'event' and not button.title ? __( 'Buy Tickets' ) : button.title }}</a>
  </div><!-- .header-button -->
{% endif %}

</div><!-- .container -->
