<header class="page-header">

  <div class="container flex flex-wrap flex--end-content flex--justify-between">
    {% include 'blocks/header-content.twig' %}

    <div class="project-actions">
      {% include 'blocks/components/project-actions.twig' %}
    </div><!-- .project-actions -->

  </div><!-- .container -->

</header>
