<div class="{{ background ? 'background-' ~ background }} {{ class }} no-posts-container js-no-posts pt-0">
  <h2 class="mt-0 mb-0">{{ title ? title : __( 'No posts found.' ) }}</h2>
  {% if subtitle %}
    <div class="h4">
      {{ subtitle }}
    </div><!-- .h4 -->
  {% endif %}
</div>
