/* Chapters */
.wpgmza_marker_holder{
	margin-top: 30px;
}

/* Events */
.tribe-events-c-ical {
	display: none;
}

.tribe-events-calendar-list__event-details .read-more {
	margin-top: 25px;
}