/*************************************
News Listing
**************************************/
.page-template-news {
	.page-content {
		padding-top: 40px;
		.search-filter{
			flex: 0 0 100%;
			padding-right: 22px;
	    	padding-left: 10px;

	    	label {
				width: 100%;
			}
			 ul{
				display: flex;
				padding-left: 0px;
			}
		}

		.search-filter {
			ul {
				li{
					margin-right: 10px;
					width: 25%;
					input{
						height: 40px;
						line-height: normal;
						width: 100%;
					}
					input.sf-input-text{
						outline: 0;
						border: 2px solid #D8D8D8;
						border-radius: 5px;
						padding-left: 40px;
					}
					 input[type="submit"]{
						color: white;
						border-radius: 5px;
					}
					select{
						width: 100%;
						height: 40px;
					}
				}
			}
		}

		.search-filter-results {
			flex: 0 0 100%;
			margin-top: 10px;
			.pagination {
				margin: 30px 0;
			}
		}
		.results-container {
			display: flex;
			flex-wrap: wrap;
			.wrap-results{
				width: 31%;
				border: 1px solid black;
			    margin: 10px;
			    padding: 15px;
			    img {
					width: 310px;
					height: 200px;
					object-fit: cover;
					display: block;
					margin: auto;
				}
				.result-title {
					margin-bottom: 0px;
				}
				.result-meta {
					font-size: 14px;
					margin-bottom: 15px;
					a {
						text-decoration: underline;
					}
				}
				.result-content {
					font-size: 16px;
					margin-bottom: 10px;
				}
				.read-more a {
					text-decoration: underline;
				}
			}
		}

	}
}

/* Bug , breaks following css*/
.search-filter ul .sf-field-search label:before {
    font-family: 'icons' !important;
    font-style: normal;
    font-size: 19px;
    color: #234075;
    font-weight: 900;
    position: absolute;
    padding-left: 10px;
    content: "\E92A";
    top: 8px;
}​

/*************************************
Single News
**************************************/
.single-post {
	.post-meta {
		a {
			text-decoration: underline;
			&:hover{
				color: #ef373e;
				text-decoration-color: #ef373e;
			}
		}
	}
}

/*************************************
Mobile Changes
**************************************/
@media (max-width: $mobile-width) {
	.page-template-news {
		.page-content {
			.results-container {
				.wrap-results{
					width: 100%;
					border: 1px solid black;
				    margin: 10px;
				    padding: 15px;
				}
			}
			.search-filter {
				ul{
					flex-direction: column;
					li{
						width: 100%;
						input{
							max-width: 100%;
							width: 100%;
						}
						select{
							max-width: 100%;
							width: 100%;
						}
					}
				}
				label {
					width: 100%;
				}
			}
		}
	}
}