// // Returns rem and px
// // Note: Assumes html font size 62.5%
// @mixin font-size($sizeValue: 1.6) {
//   font-size: ($sizeValue * 10) + px;
//   font-size: $sizeValue + rem;
// }

@mixin elementInvisible(){
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


@mixin outerContainer(){
	max-width:$max-width;
	margin-left:auto;
	margin-right:auto;
} 

@mixin fillScreen(){
	margin-left:-$global-edge-padding;
	margin-right:-$global-edge-padding;
} 

@mixin sidePad(){
	padding-left:$global-edge-padding;
	padding-right:$global-edge-padding;
} 
