{% extends "layouts/default.twig" %}

{% block header %}

  {% set pretitle = post.date_range %}
  {% set location = TimberTerm( post.location ).name %}

  {% if pretitle == '' %}
    {% set pretitle = location %}
  {% endif %}

  {% if pretitle and location and pretitle != location %}
    {% set pretitle = pretitle ~ ' | ' ~ location %}
  {% endif %}

  {% include 'blocks/header.twig' with {
    pretitle: pretitle,
    title: post.post_title,
    subtitle: post.subtitle,
    button: post.link_url
  } %}
{% endblock %}

{% block content %}
<section class="content-wrapper grid--flex mb-3">

  <article class="post-content w-12 w-md-6 container container--padded grid-item">
    {{ post.post_content | apply_filters( 'the_content' ) }}
  </article><!-- .post-content -->

  {% if post.images or post.logos %}
  <div class="post-images w-12 w-md-6 grid-item">
    {% if post.images %}
      <div class="images">
        {% for item in post.get_field( 'images' ) %}
          {{ macros.img( item, 'gallery_large' ) }}
        {% endfor %}
      </div><!-- .post-image -->
    {% endif %}

    {% if post.logos %}
      <div class="post-logos">
        <h3>&mdash; {{ __( 'Funded By' ) }}</h3>
        <div class="images images--rounded">
          {% for item in post.get_field( 'logos' ) %}
            {{ macros.img( item, 'fund-logo' ) }}
          {% endfor %}
        </div><!-- .images -->
      </div><!-- .post-logos post-logos--rounded -->
    {% endif %}
  </div><!-- .post-image w-12 w-md-6 -->
  {% endif %}

</section><!-- .content-wrapper -->
{% endblock %}
