{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header-project.twig' with {
    title: post.post_title,
    subtitle: post.subtitle,
  } %}
{% endblock %}

{% block content %}
<div class="page-content-background">

  <section class="content-wrapper grid--flex section--project-info section pt-0">

    <article class="w-12 w-md-6 container container--padded grid-item">
      <div class="post-data grid--flex">

        {% set needs = post.get_post_terms( post.ID, 'need' ) %}
        {% set stage = post.get_post_terms( post.ID, 'stage' ) %}
        {% set skills = post.get_post_terms( post.ID, 'skill' ) %}

        <div class="post-stage post-data-item w-6">
          <label class="post-label" id="project-stage-heading">{{ __( 'Stage' ) }}</label>
          <span class="is-not-edit" aria-label="{{ stage[0].name }}" aria-labelledby="project-stage-heading">{{ stage[0].name }}</span>
        </div><!-- .post-stage -->

        <div class="post-need post-data-item w-6">
          <label class="post-label" id="project-need-heading">{{ __( 'Project Need' ) }}</label>

          {% set needsList %}
            {% if needs %}
              {% for key, item in needs %}
                {{ item.name }}{{ key + 1 < needs | length ? ', ' }}
              {% endfor %}
            {% else %}
              {{ __( 'None' ) }}
            {% endif %}
          {% endset %}

          <span class="" aria-label="{{ needsList | striptags }}" aria-labelledby="project-need-heading">
            {% if needs %}
              {{ needsList }}
            {% else %}
              &mdash;
            {% endif %}
          </span>
        </div><!-- .post-need -->

        <div class="post-author post-data-item w-6">
          <label class="post-label" id="project-author-heading">{{ __( 'Created By' ) }}</label>
          <span class="" aria-label="{{ post.author }}" aria-labelledby="project-author-heading">{{ post.author }}</span>
        </div><!-- .post-author -->

        <div class="post-skills post-data-item w-6" >
          <label class="post-label" id="project-capability-heading">{{ __( 'Capabilities Needed' ) }}</label>

          {% set skillsList %}
            {% if skills %}
              {% for key, item in skills %}
                {% if item.name != 'Select Capability' %}
                  {{ item.name }}{{ key + 1 < skills | length ? ', ' }}
                {% endif %}
              {% endfor %}
            {% else %}
              {{ __( 'None' ) }}
            {% endif %}
          {% endset %}

          <span class="" aria-label="{{ skillsList | striptags }}" aria-labelledby="project-capability-heading">
            {% if skills %}
              {{ skillsList }}
            {% else %}
              &mdash;
            {% endif %}
          </span>
        </div><!-- .post-skills -->

        {% if post.creative_commons_license %}
          <div class="post-license post-data-item w-6">
            <label class="post-label" id="project-creativecomms-heading">{{ __( 'Creative Commons License' ) }}</label>
            <span class="" aria-label="{{ post.creative_commons_license }}" aria-labelledby="project-creativecomms-heading">{{ post.creative_commons_license }}</span>
          </div><!-- .post-license -->
        {% endif %}

      </div><!-- .post-data -->
      <div class="post-content">
        {{ post.post_content | apply_filters( 'the_content' ) }}
      </div><!-- . -->
    </article><!-- .post-content -->

    <div class="post-images w-12 w-md-6 grid-item">
      {% if post.images %}
        <div class="images images--gallery images--desktop">
          {% for key, item in post.get_field( 'images' ) %}
            {% if key == 0 %}
              {{ macros.img( item, 'gallery_large' ) }}
            {% else %}
              {{ macros.img( item, 'gallery_thumb', 'image--small w-6 w-md-4' ) }}
            {% endif %}
          {% endfor %}
        </div><!-- .post-image -->

        <div class="images images--mobile">
          <div class="js-slider">
            {% for key, item in post.get_field( 'images' ) %}
              {{ macros.img( item, 'gallery_large' ) }}
            {% endfor %}
          </div><!-- .js-slider -->
          <div class="js-slick-dots"></div><!-- .js-slick-dots -->
        </div><!-- .images images--desktop -->
      {% endif %}

    </div><!-- .post-image w-12 w-md-6 -->

  </section><!-- .content-wrapper -->

  {% if post.project_downloadables_downloadables or post.project_links_links %}
    <section class="section section--resources">

      <div class="container">
        <h2 class="section-title section-title--dash section-title--dash-inherit">{{ __( 'Resources' ) }}</h2>

          <div class="resources grid--flex">

            {% if post.project_downloadables_downloadables %}
              <div class="resource-item w-12 w-md-6 grid-item">

                {% set downloadables = post.get_field( 'project_downloadables' ) %}
                <label class="post-label">{{ downloadables.title ? downloadables.title : __( 'Downloadables' ) }}</label>

                <ul class="resources-list {{ downloadables.downloadables | length > 1 ? 'columns' ? '' }}">
                  {% for item in downloadables.downloadables %}
                    <li class="resource-list-item">
                      <a href="{{ item.file.url }}" title="{{ item.file.title }}" class="resource-list-link" aria-label="{{ __('Download' ) ~ ' ' ~ item.file.title }}">
                        <i class="icon-download" aria-hidden="true"></i>
                        <span class="resource-list-item-title">{{ item.file.filename }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>

              </div><!-- .resource-item w-12 w-md-6 -->
            {% endif %}

            {% if post.project_links_links %}
              <div class="resource-item w-12 w-md-6 grid-item">

                {% set links = post.get_field( 'project_links' ) %}
                <label class="post-label">{{ links.title ? links.title : __( 'Project Links' ) }}</label>

                <ul class="resources-list {{ links.links | length > 1 ? 'columns' ? '' }}">
                  {% for item in links.links %}
                    {% if item.link %}
                      <li class="resource-list-item">
                        <a href="{{ item.link.url }}" title="{{ item.link.title }}" aria-label="Project Link: {{ item.link.title }}" target="{{ item.link.target }}" class="resource-list-link link-underline">
                          {{ item.link.title ? item.link.title : item.link.url }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>

              </div><!-- .resource-item w-12 w-md-6 -->
            {% endif %}

          </div><!-- .resources grid--flex -->
      </div><!-- .container -->

    </section>
  {% endif %}

</div><!-- .page-content-background -->

<section class="section section--cta pb-0 pt-0">

  <div class="grid--flex text-light text-center">

    {% include 'blocks/components/project-call-to-action.twig' with {
      data: site.data.options.make_this,
      button_label: __( 'Make This' ),
    } %}

    {% include 'blocks/components/project-call-to-action.twig' with {
      data: site.data.options.team_up,
      button_label: __( 'Team Up' ),
    } %}

    {% include 'blocks/components/project-call-to-action.twig' with {
      data: {
        background_colour: site.data.options.want.background_colour,
        title: site.data.options.want.title,
        link: {
          url: site.data.options.want.link.url ~ '?project_id=' ~ post.ID,
          target: site.data.options.want.link.target,
        }
      },
      button_label: __( 'I want this' ),
    } %}

  </div><!-- .grid--flex -->

</section>

<section class="section section--review background-white section-border" id="reviews">
  <div class="container">
    {{ function( 'comments_template' ) }}
  </div><!-- .container -->
</section>

{% if post.related_projects %}
  <section class="section section--related-projects pb-0 background-lighest-grey section-border">

    <div class="container">

      <h2 class="mb-0 section-title section-title--dash section-title--dash-inherit">
        {{ post.related_title ? post.related_title : __( 'Related Projects' ) }}
      </h2>

    </div><!-- .container -->

    <div class="grid grid--flex">

      {% for item in post.related_projects %}
        {% set item = TimberPost( item ) %}
        {% include 'blocks/components/grid-project.twig' with {
          colour: 'primary',
          actions_position: 'bottom',
          status: {
            label: TimberTerm( item.stage ).name,
            colour: TimberTerm( item.stage ).slug,
          }
        } %}
      {% endfor %}

    </div><!-- .grid grid--flex -->

  </section>
{% endif %}

{% set community = post.getLatestCommunity() %}
{% if community %}
  <section class="section section--connection">
    <div class="container">

      <h2 class="mb-0 section-title section-title--dash section-title--dash-inherit">
        {{ post.community_title ? post.community_title : __( 'Community' ) }}
      </h2>

      <div class="grid grid--flex grid--flush">

        {% for item in community %}

          {% if item.post_type == 'user' %}
            {% set attr = 'href="' ~ site.data.options.connect_with_user_page ~ '?user_id={{ item.ID }}" data-user_email="' ~ item.user_email ~ '" data-connect_user="' ~ item.ID ~ '"' %}
          {% else %}
            {% set attr = 'href="' ~ item.get_link ~ '" title="' ~ item.post_title ~ '"' %}
          {% endif %}

          <a {{ attr }} class="grid-item card w-6 w-md-3 card--basic">
            <div class="card-inner">

              {% if item.thumbnail %}
                <div class="card-image {{ item.post_type != 'success-story' ? 'image--round' }}">
                  <img src="{{ TimberImage( item.thumbnail ).src( 'square_200' ) }}" alt="{{ item.post_title }}" />
                </div><!-- .card-image -->
              {% endif %}

              <div class="card-content">
                <span class="label text-primary">
                  {% if item.post_type == 'user' %}
                    {{ item.roles }}
                  {% elseif item.post_type == 'success-story' %}
                    {{ __( 'Success Stories' ) }}
                  {% elseif item.post_type == 'post' %}
                    {{ __( 'News Article' ) }}
                  {% endif %}
                </span>
                <h4 class="h3 card-heading">
                  {{ item.post_title }}
                </h4><!-- .h3 -->
              </div><!-- .card-content -->

              <div class="card-button">
                {% if item.post_type == 'user' %}
                  <span class="btn btn--outline btn--primary js-user-connect">{{ __( 'Connect' ) }}</span>
                {% else %}
                  <span class="btn btn--outline btn--primary">{{ __( 'Read More' ) }}</span>
                {% endif %}
              </div><!-- .card-button -->

            </div><!-- .card-inner -->
          </a><!-- .grid-item -->
        {% endfor %}

      </div><!-- .grid grid--flex -->

    </div><!-- .container -->
  </section>

  <section class="section section--actions background-white">
    <div class="container flex flex-wrap flex--end-content flex--justify-between">

      <div class="w-12 w-md-6">
        <h2 class="mb-0 section-title section-title--dash section-title--dash-inherit">
          {{ post.ready_start_title ? post.ready_start_title : __( 'Ready to Start?' ) }}
        </h2>
      </div><!-- .w-12 w-md-6 -->

      <div class="w-12 w-md-6 text-right">
        {% include 'blocks/components/project-actions.twig' %}
      </div><!-- .w-12 w-md-6 -->

    </div><!-- .container -->
  </section>
{% endif %}

{% endblock %}
