{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header-project.twig' with {
    title: post.post_title,
    subtitle: post.subtitle,
  } %}
{% endblock %}

{% block content %}
<div class="page-content-background">

  <section class="content-wrapper grid--flex section--project-info section pt-0">

    <article class="w-12 w-md-6 container container--padded grid-item">
      <div class="post-data grid--flex">

        {% set needs = post.get_post_terms( post.ID, 'need' ) %}
        {% set stage = post.get_post_terms( post.ID, 'stage' ) %}
        {% set skills = post.get_post_terms( post.ID, 'skill' ) %}

        <div class="post-stage post-data-item w-6">
          <label class="post-label" id="project-stage-heading">{{ __( 'Stage' ) }}</label>
          <span class="is-not-edit" aria-label="{{ stage[0].name }}" aria-labelledby="project-stage-heading">{{ stage[0].name }}</span>
        </div><!-- .post-stage -->

        <div class="post-need post-data-item w-6">
          <label class="post-label" id="project-need-heading">{{ __( 'Project Need' ) }}</label>

          {% set needsList %}
            {% if needs %}
              {% for key, item in needs %}
                {{ item.name }}{{ key + 1 < needs | length ? ', ' }}
              {% endfor %}
            {% else %}
              {{ __( 'None' ) }}
            {% endif %}
          {% endset %}

          <span class="" aria-label="{{ needsList | striptags }}" aria-labelledby="project-need-heading">
            {% if needs %}
              {{ needsList }}
            {% else %}
              &mdash;
            {% endif %}
          </span>
        </div><!-- .post-need -->

        <div class="post-author post-data-item w-6">
          <label class="post-label" id="project-author-heading">{{ __( 'Created By' ) }}</label>
          <span class="" aria-label="{{ post.author }}" aria-labelledby="project-author-heading">{{ post.author }}</span>
        </div><!-- .post-author -->

        <div class="post-skills post-data-item w-6">
          <label class="post-label" id="project-capability-heading">{{ __( 'Capabilities Needed' ) }}</label>

          {% set skillsList %}
            {% if skills %}
              {% for key, item in skills %}
                {% if item.name != 'Select Capability' %}
                  {{ item.name }}{{ key + 1 < skills | length ? ', ' }}
                {% endif %}
              {% endfor %}
            {% else %}
              {{ __( 'None' ) }}
            {% endif %}
          {% endset %}

          <span class="" aria-label="{{ skillsList | striptags }}" aria-labelledby="project-capability-heading">
            {% if skills %}
              {{ skillsList }}
            {% else %}
              &mdash;
            {% endif %}
          </span>
        </div><!-- .post-skills -->

        <div class="post-data-item w-6">
          <label class="post-label" id="project-time-to-complete">{{ __( 'Time to Complete' ) }}</label>
          {{ post.time_to_complete ? post.time_to_complete : '&mdash;' }}
        </div><!-- .post-data-item w-6 -->

        <div class="post-data-item w-6">
          <label class="post-label" id="project-cost-to-build">{{ __( 'Material Cost' ) }}</label>
          {{ post.cost_to_build ? post.cost_to_build : '&mdash;' }}
        </div><!-- .post-data-item w-6 -->

        {% if post.creative_commons_license %}
          <div class="post-license post-data-item w-6">
            <label class="post-label" id="project-creativecomms-heading">{{ __( 'Creative Commons License' ) }}</label>
            <span class="" aria-label="{{ post.creative_commons_license }}" aria-labelledby="project-creativecomms-heading">{{ post.creative_commons_license }}</span>
          </div><!-- .post-license -->
        {% endif %}
      </div><!-- .post-data -->

      <div class="post-content">
        {{ post.post_content | apply_filters( 'the_content' ) }}
      </div><!-- . -->
    </article><!-- .post-content -->

    <div class="post-images w-12 w-md-6 grid-item">
      {% if post.images %}
        <div class="images images--gallery images--desktop">
          {% for key, item in post.get_field( 'images' ) %}
            {% if key == 0 %}
              {{ macros.img( item, 'gallery_large' ) }}
            {% else %}
              {{ macros.img( item, 'gallery_thumb', 'image--small w-6 w-md-4' ) }}
            {% endif %}
          {% endfor %}
        </div><!-- .post-image -->

        <div class="images images--mobile">
          <div class="js-slider">
            {% for key, item in post.get_field( 'images' ) %}
              {{ macros.img( item, 'gallery_large' ) }}
            {% endfor %}
          </div><!-- .js-slider -->
          <div class="js-slick-dots"></div><!-- .js-slick-dots -->
        </div><!-- .images images--desktop -->
      {% endif %}

      <div class="contact">
        <h3>{{ post.contact_maker.title ? post.contact_maker.title : 'Do you need this project?' }}</h3>

        <a href="{{ connect.url }}" {{ connect.attr }} title="{{ __( 'Contact ' ~ user.data.display_name ) }}" class="btn btn--teal btn--outline--large btn--width-auto">{{ connect.title }}</a>
      </div><!-- .contact -->
    </div><!-- .post-image w-12 w-md-6 -->

  </section><!-- .content-wrapper -->

  {% if post.project_downloadables_downloadables or post.project_links_links %}
    <section class="section section--resources">

      <div class="container">
        <h2 class="section-title section-title--dash section-title--dash-inherit">{{ __( 'Resources' ) }}</h2>

          <div class="resources grid--flex">

            {% if post.project_downloadables_downloadables %}
              <div class="resource-item w-12 w-md-6 grid-item">

                {% set downloadables = post.get_field( 'project_downloadables' ) %}
                <label class="post-label">{{ downloadables.title ? downloadables.title : __( 'Downloadables' ) }}</label>

                <ul class="resources-list {{ downloadables.downloadables | length > 1 ? 'columns' ? '' }}">
                  {% for item in downloadables.downloadables %}
                    <li class="resource-list-item">
                      <a href="{{ item.file.url }}" title="{{ item.file.title }}" class="resource-list-link" aria-label="{{ __('Download' ) ~ ' ' ~ item.file.title }}">
                        <i class="icon-download" aria-hidden="true"></i>
                        <span class="resource-list-item-title">{{ item.file.filename }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>

              </div><!-- .resource-item w-12 w-md-6 -->
            {% endif %}

            {% if post.project_links_links %}
              <div class="resource-item w-12 w-md-6 grid-item">

                {% set links = post.get_field( 'project_links' ) %}
                <label class="post-label">{{ links.title ? links.title : __( 'Project Links' ) }}</label>

                <ul class="resources-list {{ links.links | length > 1 ? 'columns' ? '' }}">
                  {% for item in links.links %}
                    {% if item.link %}
                      <li class="resource-list-item">
                        <a href="{{ item.link.url }}" title="{{ item.link.title }}" aria-label="Project Link: {{ item.link.title }}" target="{{ item.link.target }}" class="resource-list-link link-underline">
                          {{ item.link.title ? item.link.title : item.link.url }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>

              </div><!-- .resource-item w-12 w-md-6 -->
            {% endif %}

          </div><!-- .resources grid--flex -->
      </div><!-- .container -->

    </section>
  {% endif %}

</div><!-- .page-content-background -->

<section class="section section--review background-white section-border" id="reviews">
  <div class="container">
    {{ function( 'comments_template' ) }}
  </div><!-- .container -->
</section>

{% if post.related_projects %}
  <section class="section section--related-projects pb-0 background-lighest-grey section-border">

    <div class="container">

      <h2 class="mb-0 section-title section-title--dash section-title--dash-inherit">
        {{ post.related_title ? post.related_title : __( 'Related Projects' ) }}
      </h2>

    </div><!-- .container -->

    <div class="grid grid--flex">

      {% for item in post.related_projects %}
        {% set item = TimberPost( item ) %}
        {% include 'blocks/components/grid-project.twig' with {
          colour: 'primary',
          actions_position: 'bottom',
          status: {
            label: TimberTerm( item.stage ).name,
            colour: TimberTerm( item.stage ).slug,
          }
        } %}
      {% endfor %}

    </div><!-- .grid grid--flex -->

  </section>

{% endif %}

<section class="section section--actions background-white">
  <div class="container flex flex-wrap flex--end-content flex--justify-between">

    <div class="w-12 w-md-6">
      <h2 class="mb-0 section-title section-title--dash section-title--dash-inherit">
        {{ post.ready_start_title ? post.ready_start_title : __( 'Ready to Start?' ) }}
      </h2>
    </div><!-- .w-12 w-md-6 -->

    <div class="w-12 w-md-6 text-right">
      {% include 'blocks/components/project-actions.twig' %}
    </div><!-- .w-12 w-md-6 -->

  </div><!-- .container -->
</section>

{% endblock %}
