{{ function( 'acf_form_head' ) }}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html {{ site.language_attributes }} class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html {{ site.language_attributes }} class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html {{ site.language_attributes }} class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html {{ site.language_attributes }} class="no-js"> <!--<![endif]-->

{% import 'macros.twig' as macros %}

{% include 'header/head.twig' %}

<body class="{{ body_class }}">

  {% include 'header/header-utils.twig' %}
  {% include 'header/header-nav.twig' %}

  <div class="wrapper">

    <!--[if lt IE 8]>
    <div class="alert alert-warning">
      Il browser utilizzato &egrave; <strong>obsoleto</strong> . Si prega di <a href="http://browsehappy.com/" target="_blank">aggiornare il browser</a> per migliorare la vostra esperienza.
    </div>
    <![endif]-->

    {% block header %}
      {% include 'blocks/header.twig' with {
        title: post.post_title,
        subtitle: post.subtitle
      } %}
    {% endblock %}

    <main class="page-content">

      {% block content %}
      Sorry, no content
      {% endblock %}

      {{ function( 'acf_form', post.ID ) }}

    </main>

    {% include 'footer/footer.twig' %}

  </div><!-- .wrapper -->

  {% include 'footer/footer-utils.twig' %}

  {{ function( 'wp_footer' ) }}

</body>
</html>
