<!DOCTYPE html>
<!--[if lt IE 7]>      <html {{ site.language_attributes }} class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html {{ site.language_attributes }} class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html {{ site.language_attributes }} class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html {{ site.language_attributes }} class="no-js"> <!--<![endif]-->

{% import 'macros.twig' as macros %}
{% include 'header/head.twig' %}

<body class="{{ body_class }}">

  {% include 'header/header-nav.twig' %}

  <main class="wrapper" id="main" aria-labelledby="page-title">

    <!--[if lt IE 8]>
    <div class="alert alert-warning">
      Il browser utilizzato &egrave; <strong>obsoleto</strong> . Si prega di <a href="http://browsehappy.com/" target="_blank">aggiornare il browser</a> per migliorare la vostra esperienza.
    </div>
    {% block header %} 
      {% include 'blocks/header.twig' with {
        title: post.post_title,
        subtitle: post.subtitle
      } %} 
    {% endblock %}
    <![endif]-->
   

    <div class="page-content">

      {% block content %}
      Sorry, no content
      {% endblock %}

    </div>

    {% include 'footer/footer.twig' %}

  </main><!-- .wrapper -->

  {% include 'footer/footer-utils.twig' %}

  {{ function( 'wp_footer' ) }}

</body>
</html>
