<section class="section section--{{ layout }} background-white" id="{{ layout }}-{{ section.title | sanitize }}">
  <div class="container">
    <h2 class="section-title section-title--dash mb-0">
      {{ section.title }}
    </h2>
  </div><!-- .container -->

  <div class="accordion pt-0">
    {% for key, item in section.accordion %}
      <div class="accordion-item accordion-item--{{ key % 2 == 0 ? 'even' : 'odd' }}">
        <a href="javascript:void(0)" class="container js-accordion-trigger accordion-trigger">
          <div class="accordion-trigger-container">
            <h3 class="accordion-title mb-0 mt-0" id="{{ section.title | replace({ ' ': '-' }) | lower }}_{{ key }}" aria-controlls="{{ item.title | replace({ ' ': '-' }) | lower }}">{{ item.title }}</h3>
            <span class="accordion-indicator" aria-label="{{ __( 'Toggle' ) ~ ' ' ~ section.title }}"></span>
          </div><!-- .container -->
        </a><!-- .accordion-trigger -->
        <div class="container accordion-content js-accordion-content" id="{{ item.title | replace({ ' ': '-' }) | lower }}" aria-expanded="false" aria-labelledby="{{ section.title | replace({ ' ': '-' }) | lower }}_{{ key }}">
          {{ item.content | apply_filters( 'the_content' ) }}
        </div><!-- .accordion-content js-accordion-content -->
      </div><!-- .accordion-item -->
    {% endfor %}
  </div><!-- .accordion -->
</section>
