<section class="section section--{{ layout }} section--no-padding grid grid--flex {{ section.background == 'darkest-grey' ? 'text-light' }}">

  {% for item in section.call_to_action %}

  <div class="w-12 w-md-6 container--padded section-content text-center background-{{ item.background_colour }} ">
    <h3 class="text-light mb-0">{{ item.title }}</h3>

    {% if item.link.url %}
      <a href="{{ item.link.url }}" title="{{ item.link.title }}" class="mt-1 btn btn--outline btn--outline--large btn--white">{{ item.link.title }}</a>
    {% endif %}
  </div><!-- .w-12 w-md-6 -->

  {% endfor %}

</section><!-- .flex-box -->
