<section class="section section--{{ layout }} {{ section.add_border_below ? 'section-border' }}">
  <div class="container">

    {% if section.title %}
      <h2 class="h1 section-title section-title--dash">{{ section.title }}</h2>
    {% endif %}

    <div class="grid--flex grid--flex--row">

      <div class="w-12 w-md-4 w-lg-3 contact-inner">
        {% include 'footer/address.twig' %}
      </div><!-- .w-12 w-md-4 w-lg-3 -->

      <div class="w-12 w-md-7 w-md-push-1 w-lg-8 grid--flex grid--flex--row">
        <div class="contact-inner w-12">
          {% include 'footer/email.twig' %}
        </div><!-- .contact-inner -->
        <div class="contact-inner w-12">
          {% include 'footer/phone.twig' %}
        </div><!-- .contact-inner -->
      </div><!-- .w-12 w-md-7 w-md-push-1 w-lg-8 -->

    </div><!-- .grid--flex -->

  </div><!-- .container -->
</section>
