<section class="section section--{{ layout }} section--no-padding background-{{ section.background }} grid grid--flex {{ section.background == 'darkest-grey' ? 'text-light' }} {{ section.is_logo ? 'image-is-logo' }}">

  {% set image %}
    {{ macros.img_bg( section.image, 'full', 'w-12 w-md-5 section-image' ) }}
  {% endset %}

  {% if section.image_position == 'left' %}
    {{ image }}
  {% endif %}

  <div class="w-12 w-md-7 container--padded section-content">
    <h2 class="section-title section-title--dash mb-0">{{ section.title }}</h2>

    {% if section.subtitle %}
      <h3 class="section-subtitle">{{ section.subtitle }}</h3>
    {% endif %}

    {{ section.content }}
  </div><!-- .w-12 w-md-6 -->

  {% if section.image_position == 'right' %}
    {{ image }}
  {% endif %}

</section><!-- .flex-box -->
