<section class="section section--{{ layout }} {{ section.add_border_below ? 'section-border' }}">
  <div class="container">

    {% if section.title %}
      <h2 class="h1 section-title section-title--dash">{{ section.title }}</h2>
    {% endif %}

    {{ section.content | apply_filters( 'the_content' ) }}

  </div><!-- .container -->
</section>
