<section class="section section--{{ layout }} {{ section.add_border_below ? 'section-border' }}">
  <div class="container">

    {% if section.title %}
      <h2 class="h1 section-title section-title--dash">{{ section.title }}</h2>
    {% endif %}

    {% if section.content %}
      {{ section.content }}
    {% endif %}

    {{ function( 'do_shortcode', '[gravityform id="' ~ section.form ~ '" title="false" description="false"]' ) }}

  </div><!-- .container -->
</section>
