<section class="section section--{{ layout }} section--no-padding background-white">

  <div class="container grid grid--flex flex--start-content">

    {% if section.title %}
      <h2 class="section-title section-title--dash w-12 w-md-3 mb-0 pt-1-05">{{ section.title }}</h2>
    {% endif %}

    <div class="logos w-12 w-md-9 grid grid--flex flex--center-content">
      {% for item in section.logos %}

        <div class="w-6 w-md-4 text-center logo-item">

          {% set item = TimberImage( item ) %}
          {% set fields = post.getImageFields( item.ID ) %}
          {% if fields.link_url.url %}
            <a href="{{ fields.link_url.url }}" target="{{ fields.link_url.target }}">
              <img src="{{ item.src }}" alt="{{ item.post_title }}" />
            </a>
          {% else %}
            <img src="{{ item.src }}" alt="{{ item.post_title }}" />
          {% endif %}
        </div><!-- .w-12 w-md-6 -->

      {% endfor %}
    </div><!-- .logos -->

  </div><!-- .container -->

</section><!-- .flex-box -->
