<section class="section section--{{ layout }} {{ section.add_border_below ? 'section-border' }}">
  <div class="container">

    {% if section.title %}
      <h2 class="h1 section-title section-title--dash">{{ section.title }}</h2>
    {% endif %}

    <div class="grid--flex grid--flex--row">

      {% for item in section.offices %}
        <div class="w-12 w-md-6 w-lg-4 contact-item contact-item--regional">

          <div class="contact-inner grid--flex grid--nowrap">
            <i aria-hidden="true" class="icon-marker-event contact-iconfont"></i>

            <div class="contact-content h4">
              <strong>{{ item.location }}</strong><br />
              <span aria-label="{{ __( 'Address' ) }}: {{ item.address }}">{{ item.address }}</span>
            </div><!-- .contact-content -->
          </div><!-- .contact-inner -->

          <div class="contact-inner grid--flex grid--nowrap">

            <i aria-hidden="true" class="icon-mobile contact-iconfont"></i>
            <div class="contact-content h4">
              <a href="mailto:{{ item.phone_number }}" aria-label="Contact {{ site.name }} at {{ item.phone_number }}">
                {{ item.phone_number }}
              </a>
            </div>

          </div><!-- .contact-inner grid--flex grid--nowrap -->

        </div><!-- .w-12 w-md-4 w-lg-3 -->
      {% endfor %}
    </div><!-- .grid--flex -->

  </div><!-- .container -->
</section>
