<section class="section mt-0 mb-0 pt-0 pb-0 section--{{ layout }} background-lightest-grey">
  {% if section.title %}
    <div class="container">
      <h2 class="section-title section-title--dash mb-0">{{ section.title }}</h2>
    </div><!-- .container -->
  {% endif %}

  {% for key, item in section.posts %}

    {% set item = TimberPost( item ) %}
    {% include 'blocks/components/feature-post.twig' with {
      alternate: true,
      background: 'white',
      btn_colour: 'btn--primary',
      feature: item,
      link: {
        link: item.get_link,
        target: '_self'
      }
    } %}

  {% endfor %}

</section>
