<section class="section section--{{ layout }} background-lightest-grey">
  <div class="container">
    <h2 class="section-title section-title--dash mb-0">{{ section.title }}</h2>
  </div><!-- .container -->

  <div class="testimonials testimonials--grid grid grid--masonry card testimonials--desktop">
    {% for item in section.testimonials %}

      {% spaceless %}
        {% include 'blocks/components/testimonial.twig' %}
      {% endspaceless %}

    {% endfor %}
  </div><!-- .testimonials testimonials--grid -->

  <div class="testimonials testimonials--grid card testimonials--mobile">
    <div class="js-slider">
      {% for item in section.testimonials %}

        {% include 'blocks/components/testimonial.twig' %}

      {% endfor %}
    </div><!-- .js-slider -->
    <div class="slider-dots js-slick-dots"></div><!-- .slider-dots js-slick-dots -->
  </div><!-- .testimonials testimonials--grid -->
</section>
