{% extends "layouts/default.twig" %}

{% block content %}
<div class="container content-wrapper">

  <h1 class="page-title" id="page-title">{{ title }}</h1>

  {% for post in posts %}
  <div class="post">

    <h2>{{ post.title }}</h2>

    <div class="post-content">
      {{ post.content }}
    </div><!-- .post-content -->

  </div>
  {% endfor %}

</div><!-- .content-wrapper -->
{% endblock %}
