{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header.twig' with {
    title: page_title ? page_title : site.data.options.current_events.title,
    subtitle: site.data.options.current_events.subtitle
  } %}
{% endblock %}

{% block content %}

  <section class="section section--filter background-light-grey section--no-padding">
    <div class="container">
      {% include 'blocks/components/filter-form.twig' with {
        label : __( 'View By' ),
        class: 'event',
        options: {
          'location': __( 'Location' ),
          'upcoming': __( 'Upcoming' ),
        }
      } %}
    </div><!-- .container -->
  </section>

  {% if not requests.filter %}
    {% if site.data.options.event_feature_post %}
      {% include 'blocks/components/feature-post.twig' with {
        feature: TimberPost( site.data.options.event_feature_post ),
        feature_label: __( 'Feature Event' ),
        btn_colour: 'btn--white',
        link: {
          link: TimberPost( site.data.options.event_feature_post ).get_link,
          target: '_self'
        }
      } %}
    {% endif %}
  {% endif %}

  <section class="section section--posts section--no-padding">

    {% if post.post_type == 'event' %}
      <div class="twitter-feed js-twitter-feed">
        {{ function( 'fetchTweets', twitter_feed_opts ) }}
      </div><!-- .twitter-feed -->
    {% endif %}

    <div class="grid grid--flex card has-twitter-feed" data-paged="{{ current_page }}" data-grid-resize>

      {% if posts %}

        {% for key, item in posts %}

          {% if key == 2 or key == 4 or key == 6 %}
            <div class="js-twitter-item" data-index="{{ key }}"></div><!-- .twitter-item -->
          {% endif %}

          {% include 'blocks/components/grid-card.twig' with {
            colour: item.post_status == 'future' or item.date_start | date( "Y-m-d" ) >= get_today_date() ? 'primary' : 'secondary',
            status: {
              status: item.post_status == 'future' or item.date_start | date( "Y-m-d" ) >= get_today_date() ? 'upcoming' : 'past',
              label: __( 'Past Event' ),
              colour: 'darkest-grey',
            }
          } %}

          {% if key + 1 == posts | length %}
            <div class="js-twitter-item" data-index="{{ posts | length + 3 }}"></div><!-- .twitter-item -->
          {% endif %}

        {% endfor %}

      {% else %}
        {% include 'blocks/no-posts.twig' %}
      {% endif %}

    </div><!-- .grid grid--flex -->

    {% include 'blocks/components/pagination.twig' %}

  </section>

{% endblock %}
