{% extends "layouts/default.twig" %}

{% block header %}

{% endblock %}

{% block content %}

  <section class="section section--filter background-light-grey section--no-padding">
    <div class="container">

      <div class="grid grid--flex flex--end-content">
        <div class="w-12 w-md-8">
          {% if page_title or title %}
            <h1 class="mb-0 h2">{{ page_title ? page_title : title }}</h1>
          {% endif %}

          {% if subtitle %}
            <h4 class="mt-0">{{ subtitle }}</h4>
          {% endif %}
        </div><!-- .w-12 w-md-6 -->

        <div class="w-12 w-md-4">
          <form action="{{ archive_url( 'project' ) }}" method="get" class="mb-1 flex flex--justify-between">
            <label for="project_search" class="sr-only">Search</label>
            <input type="text" name="project_search" id="project_search" value="{{ query_var }}" placeholder="{{ site.data.options.project_filters.search_placeholder | default( 'Search' ) }}" />
            <button type="submit" class="flex text--white flex--center-content">Search&nbsp;<i class="icon icon-search"></i></button>
          </form>
        </div><!-- .w-12 w-md-6 -->
      </div><!-- .grid grid--flex -->

    </div><!-- .container -->
  </section>

  <section class="section section--posts section--no-padding">
    {% if posts %}

      <div class="grid grid--flex card" data-grid-resize>
        {% for key, item in posts %}

          {% set item = TimberPost( item ) %}
          {% set cta %}

            {% include 'blocks/components/grid-cta.twig' with {
              content: {
                title: site.data.options.project_cta.title,
                link: site.data.options.project_cta.link,
              },
              colour: 'primary',
              background: 'grey'
            } %}

          {% endset %}

          {% if posts | length >= 10 and key == 3 %}
            {{ cta }}
          {% endif %}

          {% include 'blocks/components/grid-project.twig' with {
            colour: 'primary',
            actions_position: 'top',
            status: post.getProjectStage( item.terms )
          } %}

          {% if posts | length < 10 and ( ( posts | length > 2 and key == 2 ) or key + 1 == posts | length ) %}
            {{ cta }}
          {% endif %}

        {% endfor %}

    </div><!-- .grid grid--flex -->

    {% else %}

      <div class="container pr-0 pl-0 pt-0 pb-0">

        {% include 'blocks/no-posts.twig' with {
          title: __( 'Projects: No posts found' ),
          subtitle: site.data.options.project_no_posts,
        } only %}

      </div><!-- .container -->

    {% endif %}

    {% include 'blocks/components/pagination.twig' %}

  </section>

{% endblock %}
