{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header.twig' with {
    title: site.data.options.successstories.title,
    subtitle: site.data.options.successstories.subtitle
  } %}
{% endblock %}

{% block content %}

  {% if site.data.options.success_story_feautre_post %}
    {% include 'blocks/components/feature-post.twig' with {
      feature: TimberPost( site.data.options.success_story_feautre_post ),
      feature_label: __( 'Feature Story' ),
      btn_colour: 'btn--white',
      link: {
        link: TimberPost( site.data.options.success_story_feautre_post ).get_link,
        target: '_self'
      }
    } %}
  {% endif %}

  {% include 'blocks/components/posts-archive.twig' %}

  {% include 'blocks/components/pagination.twig' %}

{% endblock %}
