/**
 * Theme Name: Makers Making Change
 * Theme URI: https://makersmakingchange.com
 * Description: Makers Making Change
 * Version: 1.0.0
 * Author: BigLittle
 * Author URI: http://biglittle.ca/
 */
/* start guide stye */
body{
	font-size:18px;
	color:#000;
	line-height: 1.78;
}
h1{	
	font-size: 50px;
	font-weight: 500;
	line-height: 1.2; 
}
h2{
	font-size: 36px;
	font-weight: 500;
	line-height: 1.22;    
}
h3{
	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;	
}
h4{
	font-size: 24px;
	font-weight: 500;
	line-height: 1.33;
}
ol,ul{
	list-style-position: inside;
    padding: 0;
}
li>ul,li>ol{
	padding-left:100px
}
th{
	border-top:solid 2px #bdd5d5;
	border-bottom:solid 4px #676767;
	text-align:left;
}
td,th{
	padding:10px 0;
}
.color-red {
	color:#e71d2e;
}
.btn {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.05;
	letter-spacing: 0.4px;
	text-align: center;
	padding:13px 20px 12px; 
	border-radius: 10px;
}
.btn-black{
	background:#000;
	color:#fff;
	border-color:#000;
}
/* end guide stye */

/* start header style */
/* end header style */

/* start footer style */
.footer-top {
	background-size:cover;
	border-top:solid 8px #e71d2e;
	padding:40px 0 70px;
}
.footer-item-boxs {
	display:flex;
	font-weight:500;
}
.footer-item-boxs .box{
	display:inline-block;
	width:calc(33.333% - 20px);
	margin-right:30px;
}
.footer-item-boxs .box:last-child{
	margin-right:0;
}
.footer-item-boxs .box h2{
	margin:0;
	font-size:41px;
	line-height:1;
}
/* end footer style */

/* start Standard content style */
.page-template-standard-content .page-content:after{
	content:none;
}
.hedar-image {
    height:320px;
    background-size:cover;
}
.nav-left {
	width:21%;
	float:left;
}
.nav-left .nav-item.current-page-ancestor > a{
	border-bottom-color:#e71d2e;
}
.nav-left .current-menu-item >a,th{	
 	font-weight: 500;
}
.nav-left .nav-item a,td{	
	border-bottom: solid 2px #c3c3c3;
}
.nav-left .menu-item-has-children >a,th{
	font-size: 24px;
 	font-weight: 500;
	border-bottom-width:4px;
}
.sub-menu {
	list-style:none;
	padding:0;
}
li.nav-item a {
    display: block;
    padding: 10px 0;
    font-weight: normal;
}
.block-content-right {
	width:75%;
	float:right;
}
.content-top {
	border:solid 1px #c3c3c3;
	font-size:22px;
	padding:10px 40px 70px 60px;
}
.items-image{
	margin:0 -15px; 
    display: flex;
    flex-wrap: wrap;
}
.items-image > * {
	width:50%;
	padding:0 15px;
}
.block-table table{
	width:48%; 
    float: left;
    margin-right: 2%;
}
/* end Standard content style */
@media (min-width:1500px){
	.btn{
		min-width:270px;
	}
	.footer-item-boxs .box {
		width: calc(33.333% - 60px);
		margin-right: 90px;
	}	
}