<div class="user-heading">
  <div class="user-heading-inner">
    <h2 class="section-title--dash section-title--dash-inherit mr-1 mb-0 mt-0">{{ title }}</h2>
    {% if link.url %}
      <a href="{{ link.url }}" target="{{ link.target }}" class="btn btn--outline btn--primary btn--outline--small">{{ link.title }}</a>
    {% endif %}
  </div><!-- .user-projects-h -->

  {% if subtitle %}
    <div class="w-12 h4">
      {{ subtitle }}
    </div><!-- .w-12 -->
  {% endif %}
</div><!-- .user-heading -->
