<div class="grid grid--flex card" {{ attr }} data-user-posts aria-live="true">

</div><!-- .grid grid--flex card -->

{% include 'blocks/no-posts.twig' with {
  title: no_posts.title,
  subtitle: no_posts.content,
  class: 'hide-no-posts container--padded'
} %}
