{% include 'blocks/profile/heading.twig' with {
  title: __( 'My Profile' )
} %}

<div class="js-view-profile view-profile is-loading">

  {% if requests.success and requests.success == true %}
    <div class="js-edit-success edit-success edit-message" tabindex="0">
      {{ __( 'Your profile has been updated' ) }}
    </div><!-- .js-success-edit -->
  {% endif %}

  <div class="user-data--top user-data data-to-load">

    {% include 'blocks/profile/avatar.twig' %}

    {{ macros.user_data( {
        placeholder: 'Profile',
        label: __( 'Name' )
      }, 'name' )
    }}

    {{ macros.user_data( {
        placeholder: 'Location',
        label: __( 'Location' )
      }, 'location' )
    }}

    {{ macros.user_data( {
        placeholder: 'Capabilities',
        label: __( 'Capabilities' )
      }, 'capabilities' )
    }}

    {% set socialData = post.getProfileSocialData() %}

    <div class="user-info">
      <ul class="user-social">
        {% for social in socialData %}
          <li class="js-profile-{{ social.class }} profile-social">
            <a href="javascript:void(0)" class="{{ social.class }}" target="_blank" aria-label="{{ social.label }}">
              <i class="icon-{{ social.class }}" aria-hidden="true"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div><!-- .user-info -->

  </div><!-- .user-data-top -->

  <div class="user-data--bottom user-data data-to-load">

    {{ macros.user_data( {
        placeholder: 'Email',
        label: __( 'Email' )
      }, 'email' )
    }}

    {{ macros.user_data( {
        placeholder: 'Password',
        label: __( 'Password' )
      }, 'password' )
    }}

    <a class="btn btn--outline--small btn--primary" href="edit/">{{ __( 'Edit Profile' ) }}</a>

  </div><!-- .user-data-bottom -->
</div><!-- .js-view-profile -->
