{% extends "layouts/default.twig" %}

{% block header %}

{% endblock %}

{% block content %}

  <section class="section section--error">

    <div class="container">

      <h1>{{ __( 'Page not found' ) }}</h1>
      {{ __( 'The page you are looking for either no longer exists or was moved.' ) | wpautop }}
      <a href="{{ site.url }}" title="{{ __( 'Go back to the homepage' ) }}" class="btn btn--outline--small btn--primary">{{ __( 'Go back to the homepage' ) }}</a>

    </div><!-- .text -->

  </section><!-- .hero -->


{% endblock %}
