<div id="comments" class="comments-area" data-tab-parent>

  <h2 class="section-title section-title--dash section-title--dash-inherit section-title--separate">
    <a href="javascript:void(0);" class="section-title-item active" data-tab="reviews">{{ __( 'Reviews' ) }}</a>
    {# <a href="javascript:void(0);" class="section-title-item not-active" data-tab="success-stories">{{ __( 'Success Stories' ) }}</a> #}
  </h2>

  <div class="reviews-list" data-tab-expand="reviews">

    {% if comments_list | length > 0 %}
      <div class="comment-list grid grid--flex grid--flex--row">
        {% for comment in comments_list %}

          {% set comment = post.getTwigComment( comment.comment_ID ) %}
          {% include 'blocks/components/comment-item.twig' with {
            item: comment
          } %}

        {% endfor %}
      </div>
    {% else %}

      {% include 'blocks/no-posts.twig' with {
        title: site.data.options.project_no_reviews.title,
        subtitle: site.data.options.project_no_reviews.content,
      } %}

    {% endif %}

    {% if comments_open %}

      <div class="text-center review-button mt-1">
        <a href="javascript:void(0)" class="js-add-review btn btn--primary btn--outline">{{ __( 'Add a review' ) }}</a>
      </div><!-- .text-center -->

      <div class="text-center login-button mt-1">
        <a href="/login/?post_id={{ post.ID }}&comments=true" class="js-login-add-review btn btn--primary btn--outline">{{ __( 'Login to add a review' ) }}</a>
      </div><!-- .text-center -->

      <div class="js-review-form review-form">
        {{ post.comment_form( comment_form_args ) }}
        {# {{ review_form | shortcodes }} #}
      </div><!-- .js-review-form -->

    {% endif %}

  </div><!-- .section--reviews -->

 {#  <div class="success-stories-list section-not-active" data-tab-expand="success-stories">

    {% if success_stories | length > 0 %}
      <div class="comment-list grid grid--flex grid--flex--row mb-2">
        {% for story in success_stories %}

          {% set story = TimberPost( story ) %}
          {% include 'blocks/components/comment-item.twig' with {
            item: story
          } %}

        {% endfor %}
      </div>

    {% else %}

      {% include 'blocks/no-posts.twig' with {
        title: site.data.options.project_no_success_stories.title,
        subtitle: site.data.options.project_no_success_stories.content,
      } %}

    {% endif %}

  </div><!-- .section--success-stories --> #}

</div><!-- #comments -->

