{% extends "layouts/default.twig" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="home-background home-background--desktop" aria-hidden="true">

    {% set length = home_images | length %}
    {% for key, image in home_images %}
      {% set content %}
        <div class="home-image" data-home-image="{{ key }}" aria-hidden="true">
          <div class="home-image-inner" style="background-image: url( {{ TimberImage( image.ID ).src( 'thumbnail' ) }} )">

          </div><!-- .home-image-inner -->
        </div><!-- .home-background home-image -->
      {% endset %}

      {% if key == 0 %}
        <div class="home-images-top" aria-hidden="true">
      {% endif %}

      {% if key - 1 == ( length / 2 ) | round %}
        </div>
        <div class="home-images-bottom" aria-hidden="true">
      {% endif %}

        {% if key == 2 or key == 9 or key == 10 %}
          <div class="home-line-empty" data-home-line="{{ key }}" aria-hidden="true"></div><!-- .home-line-empty -->
        {% endif %}

        {{ content }}

      {% if key + 1 == length %}
        </div>
      {% endif %}

    {% endfor %}

  </div><!-- .home-background -->

  <div class="home-background home-background--mobile" aria-hidden="true">

    {% set mobile_length = home_images_mobile | length %}

    <div class="home-images-top">
      {% for key in 0..2 %}
        <div class="home-line-empty" data-home-line="{{ key }}" aria-hidden="true"></div><!-- .home-line-empty -->
      {% endfor %}
    </div>

    <div class="home-images-bottom" aria-hidden="true">
      {% for key, image in home_images_mobile %}

        <div class="home-image" data-home-image="{{ key }}" aria-hidden="true">
          <div class="home-image-inner" style="background-image: url( {{ TimberImage( image.ID ).src( 'thumbnail' ) }} )" aria-hidden="true">

          </div><!-- .home-image-inner -->
        </div><!-- .home-background home-image -->

      {% endfor %}
    </div>

  </div><!-- .home-background -->

  <div class="container container--center">
    <div class="home-content w-12 w-md-9">
      {% if site.data.options.main_logo %}
        <div class="main-site-logo">
          {{ TimberImage( site.data.options.main_logo ).src | file_get_contents }}
        </div><!-- .main-site-logo -->
      {% endif %}
      <h1 class="mb-0 mt-0">{{ post.home_title }}</h1>
      <p class="h3 mt-05">{{ post.search_options_title }}</p>

      <div class="w-12 w-md-10 w-lg-7">
        {% include 'blocks/components/connect-form-home.twig' with {
          class: 'home'
        } %}
      </div><!-- .w-12 w-md-6 -->
    </div><!-- .home-content -->
  </div><!-- .container -->

{% endblock %}
