{% extends "layouts/default.twig" %}

{% block header %}
  {% include 'blocks/header.twig' with {
    title: site.data.options.blog_archive.title,
    subtitle: site.data.options.blog_archive.subtitle
  } %}
{% endblock %}

{% block content %}

  <section class="section section--filter background-light-grey section--no-padding">
    <div class="container">
      {% include 'blocks/components/filter-form.twig' with {
        label : __( 'View By' ),
        class: 'post',
        options: {
          'location': __( 'Location' ),
          'date': __( 'Date' ),
        }
      } %}
    </div><!-- .container -->
  </section>

  {% if not requests.filter %}
    {% if site.data.options.post_feature_post %}
      {% include 'blocks/components/feature-post.twig' with {
        feature: TimberPost( site.data.options.post_feature_post ),
        feature_label: __( 'Featured News' ),
        link: {
          link: TimberPost( site.data.options.post_feature_post ).get_link,
          target: '_self'
        }
      } %}
    {% endif %}
  {% endif %}

  <section class="section section--posts section--no-padding">

    <div class="grid grid--flex card" data-paged="{{ current_page }}" data-grid-resize>

      {% if posts %}

        {% for key, item in posts %}

          {% if key == 2  %}
            <div class="grid-item card-item card--primary card--newsletter background-lightest-grey w-12 w-md-6 w-lg-3">
              <div class="card-content">
                <h3>{{ __( 'Sign up for our newsletter' ) }}</h3>
                {{ '[gravityform id="3" title="false" description="false"]' | shortcodes }}
              </div><!-- .card-inner -->
            </div><!-- .grid-item card-item -->
          {% endif %}

          {% include 'blocks/components/grid-card.twig' with {
            colour: 'primary',
          } %}

        {% endfor %}

      {% else %}
        {% include 'blocks/no-posts.twig' %}
      {% endif %}

    </div><!-- .grid grid--flex -->

    {% include 'blocks/components/pagination.twig' %}

  </section>
{% endblock %}
