{% macro img_bg( image, image_size, figure_class ) %}

  {% set timber_image = TimberImage( image ) %}
  {% set has_video = timber_image.video_id and timber_image.video_service ? true : false %}

  <figure class="{{ figure_class }}">
    {# {% if type == 'background' %} #}
      <div class="full-background" style="background-image: url( {{ timber_image.src( image_size ) }} )">
        <img src="{{ timber_image.src( image_size ) }}" alt="{{ timber_image.post_title }}" class="sr-only" />
      </div><!-- .full-background -->
    {# {% else %}
      <img src="{{ timber_image.src( image_size ) }}" alt="{{ timber_image.post_title }}" />
    {% endif %} #}
  </figure><!-- .{{ figure_class }} -->

  {% if has_video %}
    {% include 'blocks/components/video.twig' with {
      video_title: timber_image.post_title,
      class: figure_class,
      id: timber_image.video_id,
      service: timber_image.video_service
    } %}
  {% endif %}

{% endmacro %}

{% macro img_feature( image, image_size, figure_class, data ) %}

  {% set timber_image = TimberImage( image ) %}

  <figure class="{{ figure_class }}">
    <div class="full-background" style="background-image: url( {{ timber_image.src( image_size ) }} )"></div><!-- .full-background -->
    <span class="status status--{{ data.background }}">{{ data.label }}</span>
    <img src="{{ timber_image.src( image_size ) }}" class="sr-only" alt="{{ timber_image.post_title }}" />
  </figure>

{% endmacro %}

{% macro img( image, image_size, class ) %}
  <figure class="image w-12 {{ class }}">
    <img src="{{ TimberImage( image.id ).src( image_size ) }}" alt="{{ TimberImage( image.id ).post_title }}" />
  </figure>
{% endmacro %}

{% macro user_data( data, namespace, class ) %}
  <div class="user-info">
    <span class="{{ class ? class ~ ' ' }}js-profile-{{ namespace }} profile-{{ namespace }} user-info-value" id="profile-{{ namespace }}">{{ data.placeholder }}</span>

    {% if data.label %}
      <label>{{ data.label }}</label>
    {% endif %}
  </div><!-- .user-info -->
{% endmacro %}
