{% extends "layouts/default.twig" %}

{% block header %}

  {% set pretitle = post.date_range %}
  {% set location = post.location %}

  {% if post.post_type == 'event' %}
    {% set location = post.getLocation() %}
  {% endif %}

  {% if pretitle == '' %}
    {% set pretitle = location %}
  {% endif %}

  {% if pretitle and location and pretitle != location %}
    {% set pretitle = pretitle ~ ' | ' ~ location %}
  {% endif %}

  {% if post.post_type == 'post' %}
    {% set pretitle = post.post_date | date( 'd F Y' ) %}
    {% if location %}
      {% set pretitle = pretitle ~ ' | ' ~ location %}
    {% endif %}
  {% endif %}

  {% include 'blocks/header.twig' with {
    pretitle: pretitle,
    title: post.post_title,
    subtitle: post.subtitle,
    button: post.link_url
  } %}

{% endblock %}

{% block content %}
  {% if post.post_type == 'post' %}
  <section class="post-pagination">
    <div class="container">

      <div class="pagination">
        {{ post.getSinglePagination( 'prev' ) }}
        {{ post.getSinglePagination( 'next' ) }}
      </div><!-- .pagination -->

    </div><!-- .container -->
  </section>
{% endif %}
<section class="content-wrapper grid--flex mb-3">

  <article class="post-content w-12 {{ post.images or post.logos ? 'w-md-6' : 'w-md-8' }} container container--padded grid-item">
    {{ post.post_content | apply_filters( 'the_content' ) }}
  </article><!-- .post-content -->

  <div class="post-images w-12 w-md-6 grid-item">
    {% if post.images or post.logos %}
      {% if post.images %}
        <div class="images">
          {% for item in post.get_field( 'images' ) %}
            {{ macros.img( item, 'gallery_large' ) }}
          {% endfor %}
        </div><!-- .post-image -->
      {% endif %}

      {% if post.logos %}
        <div class="post-logos">
          <h3>&mdash; {{ __( 'Funded By' ) }}</h3>
          <div class="images images--rounded">
            {% for item in post.get_field( 'logos' ) %}

              {% set fields = post.getImageFields( item.ID ) %}

              {% if fields.link_url.url %}
                <a href="{{ fields.link_url.url }}" target="{{ fields.link_url.target }}">
                  {{ macros.img( item, 'fund_logo' ) }}
                </a>
              {% else %}
                {{ macros.img( item, 'fund_logo' ) }}
              {% endif %}

            {% endfor %}
          </div><!-- .images -->
        </div><!-- .post-logos post-logos--rounded -->
      {% endif %}
    {% endif %}
  </div><!-- .post-image w-12 w-md-6 -->
  <div class="container container--padded w-md-12 post-meta">
    <!-- post meta -->
    {% if author %}
      Author: {{author}}
    {% endif %}  

    {% if categories %} 
      | Categories: 
      {% for category in categories %}
          {% if loop.last %}
            <a href="/news-listing/?_sft_category={{ category.slug }}">{{ category.name }}</a>
          {% else %}
            <a href="/news-listing/?_sft_category={{ category.slug }}">{{ category.name }}</a>,
          {% endif %}
      {% endfor %}
    {% endif %}

    {% if tags %} 
      | Tags: 
      {% for tag in tags %}
          {% if loop.last %}
            <a href="/news-listing/?_sft_post_tag={{ tag.slug }}">{{ tag.name }}</a>
          {% else %}
            <a href="/news-listing/?_sft_post_tag={{ tag.slug }}">{{ tag.name }}</a>,
          {% endif %}
      {% endfor %}
    {% endif %}
  </div>

</section><!-- .content-wrapper -->


{% if post.post_type == 'post' %}
  <section class="post-pagination">
    <div class="container">

      <div class="pagination">
        {{ post.getSinglePagination( 'prev' ) }}
        {{ post.getSinglePagination( 'next' ) }}
      </div><!-- .pagination -->

    </div><!-- .container -->
  </section>
{% endif %}

{% endblock %}
