<i aria-hidden="true" class="icon-marker-event contact-iconfont"></i>
{% if is_footer %}
  <div class="footer-address footer-item-content" aria-label="{{ __( 'Address' ) }}: {{ site.data.options.contact_address }} {{ site.data.options.contact_address_2 }}">
    <span class="footer-separate-item" aria-hidden="true">
      {{ site.data.options.contact_address }}
    </span>
    <span class="footer-separate-item" aria-hidden="true">
      {{ site.data.options.contact_address_2 }}
    </span>
  </div>
{% else %}
  <div class="contact-content h3">
    {{ site.data.options.parent_site_name }}<br />
    <span aria-label="{{ __( 'Address' ) }}: {{ site.data.options.contact_address }} {{ site.data.options.contact_address_2 }}">{{ site.data.options.contact_address }}<br />{{ site.data.options.contact_address_2 }}</span>
  </div><!-- .contact-content -->
{% endif %}
