<i aria-hidden="true" class="icon-mail contact-iconfont"></i>
{% if is_footer %}
  <a class="footer-item-content" href="mailto:{{ site.data.options.contact_email_address }}" aria-label="Contact {{ site.name }} at {{ site.data.options.contact_email_address }}">
    {{ site.data.options.contact_email_address }}
  </a>
{% else %}
  <div class="contact-content h3">
    <a href="mailto:{{ site.data.options.contact_email_address }}" aria-label="Contact {{ site.name }} at {{ site.data.options.contact_email_address }}">
      {{ site.data.options.contact_email_address }}
    </a>
  </div><!-- .contact-content -->
{% endif %}
