<div class="footer-utils">
  <a href="{{ site.url }}/wp-admin/post.php?post={{ post.id }}&action=edit" title="Edit" id="edit-post-link" class="sh-pencil admin-links" target="_blank" aria-hidden="true">Edit</a>

  <a href="{{ site.url }}/wp-admin/post-new.php?post_type={{ post.post_type }}" title="Add New" id="new-post-link" class="sh-pencil admin-links" target="_blank" aria-hidden="true">Add New</a>

  <a href="{{ site.url }}/wp-admin/" title="Dashboard" id="dashboard-post-link" class="admin-links" target="_blank" aria-hidden="true">Dashboard</a>
</div>

<script type="application/json" id="app-data">
{{ site.data | json_encode() }}
</script>
