
<div class="footer-top" style="background-image:url('{{ site.data.options.bg_image }}')">
    <div class="container footer-container">
        <div class="footer-item-boxs">
          {% for item in site.data.options.content_footer_top %}
                <div class="box">
                    <h2 class="color-red">{{ item.title_red_box }}</h2>
                    {{ item.content_title_box }}
                    <div class="button"><a href="{{ item.url_button_box }}" class="btn btn-black">{{ item.text_button_box }}</a></div>
                </div>
              {% endfor %}
        </div>        
    </div>
</div>
<footer class="footer">
  <div class="charity-number footer-mobile" href="">Charity Number: {{ site.data.options.charity_number }}</div>
  <div class="container footer-container">
    <div class="footer-contact-info">
      <div class="footer-site-logo">
        <a href="{{ site.data.options.parent_site_url }}" target="_blank" aria-label="Visit {{ site.data.options.parent_site_name }}">
          <img src="http://makersmakingchange-nexcess.developmentwebsite.ca/wp-content/uploads/logo/NSS_Logo.svg" alt="{{ site.data.options.parent_site_name }}" />
        </a>
      </div><!-- .footer-site-logo -->

      <div>{{ site.data.options.contact_address}}, {{ site.data.options.contact_address_2 }}</div>
      <div>{{ site.data.options.contact_phone }}</div>
      <div>{{ site.data.options.contact_toll_free }}</div>
      <div><a class="email-address" href="">{{ site.data.options.contact_email_address }}</a></div>
      <div><a class="link-address" href="">WWW.NEILSQUIRE.CA</a></div>
    </div>

    <div class="footer-contact-link">
      {% for item in footer_menu.get_items %}
            <div><a href="{{ item.get_link }}" title="{{ item.title }}" target="{{ item.target }}">
              <span>{{ item.title }}</span>
            </a></div>
          {% endfor %}
          <div class="charity-number" href="">Charity Number: {{ site.data.options.charity_number }}</div>
    </div>
    <div class="donate-container">
      <div class="donate-button">
        <a href="">DONATE</a>
      </div>
      <i class="fontello-icon">&#xf230;</i>
      <i class="fontello-icon">&#xf16d;</i>
      <i class="fontello-icon">&#xf099;</i>
      <i class="fontello-icon">&#xf1d3;</i>
      <i class="fontello-icon">&#xf30c;</i>
    </div>

{#       <div class="w-12 w-lg-6 footer-contact-column">

        <div class="w-12 footer-item">
          {% include 'footer/email.twig' with {
            is_footer: true
          } %}
        </div><!-- .w-12 -->

        <div class="w-12 footer-item">
          <i aria-hidden="true" class="contact-iconfont icon-arrow-right" aria-hidden="true"></i>
          <a href="{{ site.data.options.parent_site_url }}" target="_blank" aria-label="Visit {{ site.data.options.parent_site_name }}">
            <span class="footer-item-content">{{ site.data.options.parent_site_url | replace({ 'http://': '', 'https://': '' }) }}</span>
          </a>

          <div class="footer-social-column">

            {% if site.data.options.twitter_url %}
              <a href="{{ site.data.options.twitter_url }}" target="_blank" aria-label="Follow {{ site.name }} on Twitter" class="twitter"><i aria-hidden="true" class="icon-twitter"></i></a>
            {% endif %}

            {% if site.data.options.instagram_url %}
              <a href="{{ site.data.options.instagram_url }}" target="_blank" aria-label="Follow {{ site.name }} on Instagram" class="instagram"><i aria-hidden="true" class="icon-instagram"></i></a>
            {% endif %}

            {% if site.data.options.facebook_url %}
              <a href="{{ site.data.options.facebook_url }}" target="_blank" aria-label="Like {{ site.data.options.parent_site_name }} on Facebook" class="facebook"><i aria-hidden="true" class="icon-facebook"></i></a>
            {% endif %}

          </div><!-- .w-12 w-md-6 -->
        </div><!-- .w-12 -->
      </div><!-- .w-12 w-md-6 --> #}

      {# {% if footer_menu %}
        <div class="footer-site-info footer-site-info--links w-12">
          {% for item in footer_menu.get_items %}
            <a href="{{ item.get_link }}" title="{{ item.title }}" target="{{ item.target }}" class="footer-separate-item">
              <span class="link-underline">{{ item.title }}</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
 #}
  </div><!-- .container -->
  <div class="footer-site-info-container">
    <div class="footer-site-info footer-site-info--details w-12 {{ footer_menu ? 'mt-0' }}">
      <span class="footer-separate-item" aria-label="&copy; {{ site.data.today_year }} {{ site.name }}">
        &copy; {{ site.data.today_year }} {{ site.name }}. All rights reserved. <a href="" class="site-map">Site Map</a>
      </span>
      <span class="footer-separate-item">
        <a href="">Privacy Statement</a>
      </span>
      <span class="footer-separate-item">
        <a href="">Terms of Use</a>
      </span>
      <span class="footer-last-item"> <a href="">Wordpress Website Design</a> by <a href="">Graphically Speaking</a></span>
    </div>
  </div>
</footer>
