<i aria-hidden="true" class="icon-mobile contact-iconfont"></i>
{% if is_footer %}
  <span class="footer-phone footer-item-content">
    <span class="footer-separate-item" aria-label="{{ __( 'Contact Number' ) ~ ' ' ~ site.data.options.contact_phone }}">
      {{ site.data.options.contact_phone }}
    </span>
    <span class="footer-separate-item" aria-label="{{ __( 'Toll Free Number' ) ~ ' ' ~ site.data.options.contact_toll_free }}">
      {{ site.data.options.contact_toll_free }}
    </span>
  </span>
{% else %}
  <div class="contact-content h3">
    <span aria-label="{{ __( 'Contact Information' ) }} {{ site.data.options.contact_phone }}. {{ __( 'Toll Free Number' ) }} {{ site.data.options.contact_toll_free }}">{{ site.data.options.contact_phone }} | {{ site.data.options.contact_toll_free }}</span>
  </div><!-- .contact-content h3 -->
{% endif %}
